[2017-03-15 21:08] tianhao64 opened #9 "test"

[2017-03-15 21:09] #9 closed

[2017-03-15 21:17] tianhao64 opened #10 "test2"

[2017-03-15 21:17] #10 closed

[2017-08-22 11:53] linuxdan opened #31 "vapi-runtime requires requests==2.6.0"
I have requests (2.18.3) installed.
Can it work with the newer version ?

[2017-08-22 12:22] pgbidkar commented on #31
Verified with requests version 2.8.14.  It works with latest requests version
Please let me know if you find any issue

'2.18.4'

[2017-08-22 12:48] linuxdan opened #32 "list_vms.py does not"
Traceback (most recent call last):
  File "./list_vms.py", line 61, in <module>
    main()
  File "./list_vms.py", line 57, in main
    run()
  File "./list_vms.py", line 46, in run
    list_of_vms = vm_svc.list()
  File "/usr/lib/python2.7/site-packages/com/vmware/vcenter_client.py", line 3077, in list
    'filter': filter,
  File "/usr/lib/python2.7/site-packages/vmware/vapi/bindings/stub.py", l

[2017-08-22 14:08] linuxdan commented on #31
So then how do we get vapi_runtime-2.5.0/vapi_runtime.egg-info/requires.txt updated ?

[2017-08-22 14:10] linuxdan commented on #31
cat vapi_runtime-2.5.0/vapi_runtime.egg-info/requires.txt
setuptools
simplejson>=3.6.5
pyOpenSSL==0.15.1
requests==2.6.0
six==1.9
werkzeug==0.10.4

And how about considering a change to the other absolute (==) requirements to relative  (>=) ones ?

[2017-08-27 18:32] tianhao64 commented on #31
@linuxdan Thanks for reporting this. This will be fixed in the upcoming release.

[2017-08-28 01:57] tianhao64 commented on #32
@linuxdan Have you successfully installed the 6.5 bindings and runtime packages?

[2017-08-28 12:53] linuxdan commented on #32
No clue what you referring to.
I installed this python library.

[2017-08-28 12:56] pgbidkar commented on #32
You need to install required Libraries present in lib dir
run command $pip install -r requirements.txt from cloned dir

Please refer https://github.com/vmware/vsphere-automation-sdk-python#installing-the-required-python-packages, for more info

[2017-08-28 13:02] linuxdan commented on #32
Already did that.  A "pip list" includes
vapi-client-bindings (2.5.0)
vapi-common-client (2.5.0)
vapi-runtime (2.5.0)

But they are not "6.5"

[2017-08-28 13:07] linuxdan commented on #32
FWIW, we have vCenter 6.0 running

[2017-08-28 13:19] pgbidkar commented on #32
Tagging & Content Library samples work with 6.0
VM lifecycle samples work with 6.5+ versions

[2017-08-28 15:10] Carlimeunier commented on #32
Hello,
I have the same issues with list_vm. I have a VCSA 6.0

Any idea?

[2017-08-28 18:50] tianhao64 commented on #32
@linuxdan @Carlimeunier As Pavan mentioned the vm lifecycle APIs are introduced since vSphere 6.5. They are not available for VCSA 6.0.
For VCSA 6.0, you can use content library and tagging APIs.
There is a comment on top of each sample which indicates the required vSphere version. For list_vms.py has "__vcenter_version__ = '6.5+'", meaning the API only works for vCenter 6.5+.

[2017-08-28 18:56] #32 closed

[2017-08-30 22:02] tianhao64 commented on #31
This is fixed as part of release v6.6.1

[2017-08-30 22:02] #31 closed

[2017-09-06 05:34] liuzhenwubigboss opened #35 "'com.vmware.vcenter.vm' where is it?"
[code]
where are these modules?

[2017-09-06 06:42] #35 closed

[2017-09-18 19:33] asifaaag opened #36 "Setup issue during prereq installation via requirements.txt"
I'm hitting issues on CentOS and IOSX, while trying to install the prereqs from the requirements.txt:

[00:43][asulikeri:~/Documents/vsphere-automation-sdk-python-master]$ source SDKDemo/bin/activate
(SDKDemo) [00:44][asulikeri:~/Documents/vsphere-automation-sdk-python-master]$ pip3 install -r requirements.txt
Ignoring suds: markers ‘python_version =6.5 (from -r requirements.txt (line 1))
Download

[2017-09-19 15:25] sushiman commented on #36
Hi @asifaaag , I stumbled today on the same issue.  To solve the problem, git clone the repository in your working dir and then execute pip again.

Besides, I also stumbled on another issue with the default pyOpenSSL installed version after trying to connect to a vCenter. Just uninstall pyOpenSSL and install this version:

[2017-09-19 17:54] asifaaag commented on #36
Great that worked, thanks a lot sushiman.

[2017-09-19 17:56] #36 closed

[2017-09-20 12:22] asifaaag opened #37 "No Monitoring APIs part of the SDK yet?"
Hi,

Are the monitoring APIs not part of this automation sdk yet?

Regards,
Asif

[2017-09-20 21:18] tianhao64 commented on #37
@asifaaag Appliance monitoring API bindings are part of the automation SDK already. However there is no samples on github yet. For sample code, you can refer to: https://vdc-download.vmware.com/vmwb-repository/dcr-public/cdd3166b-c90d-408a-9df5-28dda80f2e3a/d04efb15-e870-44a2-82f7-44861a39923a/vcenter-server-appliance-sdk-65-python-programming-guide.pdf

API spec is available at: https://vdc-downl

[2017-09-20 21:18] #37 closed

[2017-09-21 18:05] asifaaag commented on #37
@tianhao64 The API spec that you have pointed me to is the techpreview SNMP monitoring API, I was taking about:

Operation | HTTP request | Description
-- | -- | --
get | GET https://{server}/rest/appliance/monitoring/{stat_id} | Get monitored item info
list | GET https://{server}/rest/appliance/monitoring | Get monitored items list
query | GET https://{server}/rest/appliance/monitoring/query | Ge

[2017-09-21 19:31] asifaaag commented on #36
This is strange. This is not directly resolved. Looks like I'll have to individually extract all the zips of bindings and runtimes and then add them to sys.path and only after that the pip install -r requirements.txt works.

[2017-09-21 22:41] tianhao64 commented on #36
adding --extra-index-url will install the package in lib folder automatically. You shouldn't have to do unzip the package separately.

[2017-09-22 11:27] asifaaag commented on #36
Yes @tianhao64 thats what I have tried, here are the precise steps:
git clone https://github.com/vmware/vsphere-automation-sdk-python
cd vsphere-automation-sdk-python/
[root@vmc-centos vsphere-automation-sdk-python]# pip install -r requirements.txt --extra-index-url ~/loadutil2/vsphere-automation-sdk-python/lib/
Ignoring suds-jurko: markers 'python_version >= "3.0"' don't match your environment
Co

[2017-10-24 19:21] nmaludy opened #38 "PyPI Package"
Would it be possible to package this SDK into a PyPI package so it's easier to `pip install` and define in a requirements.txt file, rather than having to download this repo and "hand install" it?

[2017-10-26 18:26] tianhao64 commented on #38
@nmaludy Thanks for the feedback. We are exploring this option. Definitely agree. The install process will be simplified once the dependencies are pushed to pypi.

[2017-11-13 22:47] skywalk7 opened #39 "Permissions to access appliance_client.Monitoring"
According to https://pubs.vmware.com/vsphere-6-5/index.jsp#com.vmware.vsphere.vcsapg-rest.doc/GUID-D7469D6F-5778-48B7-9AEB-865EC3E2226F.html I've added my account to _"ComponentManager.Administrator"_ vCenter Single Sign-On Group. But it still throws error:
`{messages : [LocalizableMessage(id='vapi.security.authorization.invalid', default_message='Unable to authorize user', args=[])], data : None}

[2017-11-21 18:41] tianhao64 commented on #39
@skywalk7 I have reached out to the appliance management team. Will provide update soon.

[2017-12-01 10:12] naltanov commented on #39
The doc has been updated.

[2017-12-01 18:31] tianhao64 commented on #39
@naltanov Thanks. @skywalk7 Please verify.

[2017-12-05 22:27] skywalk7 commented on #39
@tianhao64 @naltanov Thanks a lot! It would be better to have account with read only permissions to monitor health state. Hope you can address it in the future.

[2017-12-05 22:27] #39 closed

[2017-12-15 09:36] sunjianchun opened #42 "Create vm by your code or vcenter rest api, the virtual machine is not installed."
Hi, I am create vm by your code or vcenter6.5 rest api, the virtual machine is not installed, I need start machine and install OS.
![image](https://user-images.githubusercontent.com/20220710/34035884-656af1fa-e1be-11e7-8a5a-f580c313e97d.png)
![image](https://user-images.githubusercontent.com/20220710/34035896-702dc0fe-e1be-11e7-9bf2-96a039ea5a6e.png)

[2018-01-21 04:19] BourneNeo opened #43 "guys, i got two questions:1,through python code, how can i check whether or not a vm has been installed OS?"

[2018-01-21 04:22] BourneNeo commented on #43
1,through python code, how can i check whether or not a vm has been installed OS? 2, onece

[2018-01-21 04:55] BourneNeo commented on #43
天浩老师，我有两个问题想请教您，1是我怎么用代码查看一个虚拟机是否已经装过操作系统？2是我能否在用python自动化创建虚拟机的时候就对该虚拟机进行网络设置，分配一个IP,这样我在创建好虚拟机，然后装好系统之后，不用手动登录进去配置IP 就可以使用网络服务了? 希望您方便的时候能回复我一下，谢谢。🙂

[2018-01-23 05:21] tianhao64 commented on #43
@BourneNeo You should be able to access the guest information using following API:
https://code.vmware.com/doc/preview?id=4206#/doc/vim.vm.GuestInfo.html
This API is not available automation SDK yet so you have to use pyVmomi.
You can't assign IP address without an OS installed. Here is an example about how to assign an IP address using pyVmomi: https://github.com/rreubenur/vmware-pyvmomi-examples

[2018-01-25 22:02] #43 closed

[2018-02-06 10:10] smrutim01 opened #44 "[embedded_psc_sso_workflow.py] socket.gaierror: [Errno 11001] getaddrinfo failed"
Hi

I am trying to run the Sample code of embedded_psc_sso_workflow.py but I am getting the following error.

[code]
But if i use ,

[code]

I am able to login and get the service instance. So there is no problem with address resolution.

[2018-02-06 10:13] smrutim01 opened #45 "external_psc_sso_workflow.py : faultcode: ns0:FailedAuthentication"
While running the external_psc_sso_workflow I am getting Failed Authentication Error. But the credential that I am using is correct.

[code]

[2018-02-06 18:09] tianhao64 commented on #45
@smrutim01 I was able to run the sample using below cmd. Can you double check if you are using the right username/password? Please try to use single quota instead of double.

(py36) het-m03:vsphere-automation-sdk-python het$ python samples/vsphere/sso/external_psc_sso_workflow.py --lsurl https://10.192.33.249/lookupservice/sdk -u 'xxx' -p 'xxx' -v

lswsdl: /Users/het/github/vsphere-automation-sdk-

[2018-02-06 18:14] tianhao64 commented on #44
@smrutim01 It seems it failed at getting bearer_token. Can you share the cmd you used to run the sample?

[2018-02-07 02:34] smrutim01 commented on #44
python embedded_psc_sso_workflow.py -s '10.172.109.40' -u 'Administrator@vsphere.local' -p 'xxxx' -c -v

[2018-02-07 02:42] smrutim01 commented on #45
python external_psc_sso_workflow.py --lsurl https://w3-stras-f5lb.eng.vmware.com/lookupservice/sdk  -u 'Administrator@vsphere.local' -p 'xxxxx' -v

[code]
Then I commented the step 1 as it was returning all the management instance and the code was exiting.

python external_psc_sso_workflow.py --lsurl https://w3-stras-f5lb.eng.vmware.com/lookupservice/sdk  -u 'Administrator@vsphere.local' -p 'xxxx'

[2018-02-07 09:29] smrutim01 commented on #45
Hi tianhao64

Removing the Single quotes (') around the user and password worked. The Single quotes were taken as part of the string for Authentication and hence it was failing. Closing the issue.

[2018-02-07 09:29] #45 closed

[2018-02-07 09:30] smrutim01 commented on #44
Hi tianhao64

Removing the Single quotes (') around the user and password worked. The Single quotes were taken as part of the string for Authentication and hence it was failing. Closing the issue.

[2018-02-07 09:30] #44 closed

[2018-03-01 14:12] ShridharSChini opened #46 "Could not find a version that satisfies the requirement vmc-client-bindings (from -r requirements.txt (line 6)) (from versions: )"
![git2](https://user-images.githubusercontent.com/34676240/36849147-425f57a8-1d89-11e8-9f02-72ac98640a76.png)

[2018-03-01 18:32] tianhao64 commented on #46
@ShridharSChini Are you using the latest version? What's the content of your requirements.txt?

[2018-03-01 22:19] sssharanster commented on #46
Try something like this:
pip install --upgrade --force-reinstall -r requirements.txt --extra-index-url file://$PWD/lib

[2018-03-03 05:46] ShridharSChini commented on #46
hi sir/madam,

  Tanks for replying .. its working

Regards
shridhar.

On Fri, Mar 2, 2018 at 3:49 AM, Sharan <notifications@github.com> wrote:

[2018-03-05 22:19] #46 closed

[2018-03-10 19:15] kandadeepak commented on #46
Hi,

I was trying to install the get the similar error message,and run the command suggested by @sssharanster but still i can see the error message while installing.

[install.txt](https://github.com/vmware/vsphere-automation-sdk-python/files/1799708/install.txt)

root@ubuntu:/tmp/vsphere-automation-sdk-python-master# python -V
Python 3.6.3

root@ubuntu:/tmp/vsphere-automation-sdk-python-master# l

[2018-03-12 18:08] tianhao64 commented on #46
Are you using a virtualenv? Can you try to do:
pip install wheel

[2018-03-12 18:23] kandadeepak commented on #46
Yes for virtual en 15.1.0,Wheel already installed in this box.

Deepak.K

Please excuse typos.

Sent from Nokia

On 12-Mar-2018 11:38 PM, "Tianhao He" <notifications@github.com> wrote:

Are you using a virtualenv? Can you try to do:
pip install wheel

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/vmware/vsphere-automation-sdk-py

[2018-03-12 19:42] tianhao64 commented on #46
See this error in your log:
Running setup.py bdist_wheel for suds-jurko: started
  Running setup.py bdist_wheel for suds-jurko: finished with status 'error'
Looks like wheel was not successfully installed.

[2018-03-13 13:07] easonlau02 commented on #38
@tianhao64 Hi, if available for PyPI, which is convenient for usage. Thanks.

[2018-03-25 17:57] bryawood-aws opened #52 "task_client.list(org_id) returns AttributeError: 'StructValue' object has no attribute 'value'"
From the Python SDK for VMC:

[code]

This function was working without issue a couple of days ago on the same identical org_id, but now is persistently failing.

[2018-03-25 20:42] bryawood-aws commented on #52
`>>> pdb.pm()

-> self._out_value = str(self._in_value.value)
(Pdb) p self._in_value
StructValue(name=None, values={'error_code_value': StringValue(value='skyscraper.nat.config.update.failed'), 'num_of_params': IntegerValue(value=1)})
  [..]
(Pdb) u

-> in_value.get_field(field_name), field_type)
(Pdb) p field_name
'error_code'
(Pdb)
  [..]
(Pdb) u

-> for elt_value in in_value]
(Pdb) p in_value
*

[2018-03-27 19:04] tianhao64 commented on #52
@bryawood-aws This is a bug in console API. The response payload for error_code is inconsistent with the swagger schema which breaks the language binding deserializer.

The actual payload for service_error is:
"service_errors": [
{
"error_code": {
"error_code_value": "skyscraper.vpn.ipsec.set.failed",
"num_of_params": 1
},
...
],

But based on the swagger schema, the field should be String
error_c

[2018-03-28 22:10] Saamy88 opened #53 "New API for license manager"
Hello,

I am currently using license Manager using the pyvmomi library on my python code and I am using the following methods: UpdateAssignedLicense() and QueryAssignedLicenses(). According to the following link: https://www.vmware.com/support/developer/converter-sdk/conv60_apireference/vim.LicenseAssignmentManager.html

These methods are deprecated and it wants me to `use cis.license.management.S

[2018-03-28 22:49] morrykatz commented on #53
The APIs in https://www.vmware.com/support/developer/converter-sdk/conv60_apireference/vim.LicenseAssignmentManager.html were incorrectly documented as having been deprecated in vSphere API 6.0.  These APIs continue to function as documented in vSphere 6.x.   A correction to the documentation is in process.

Furthermore, there are no new licensing methods in cis.license.management.SystemManagement

[2018-03-28 23:07] tianhao64 commented on #53
Thanks @morrykatz. Closing this issue.

[2018-03-28 23:07] #53 closed

[2018-04-10 19:27] sanjay1839 opened #55 "Problem while creating a vm from template using the vm template create_vm_template.py""
I am trying to create a template of a vm and deploy a template using this /create_vm_template.py" but getting an error do i need specific versions to run this, can you guys help me

this is the error
com.vmware.vapi.std.errors_client.OperationNotFound: {messages : [LocalizableMessage(default_message="Cannot find service 'com.vmware.vcenter.vm_template.library_items'.", args=['com.vmware.vcenter.vm

[2018-04-10 23:40] tianhao64 commented on #55
There is a bug in the sample code. Working on a fix now.

[2018-04-11 00:50] tianhao64 commented on #55
Actually I can't reproduce this. This is my test run:

(py36) het-m03:vsphere-automation-sdk-python het$ python samples/vsphere/contentlibrary/vmtemplate/create_vm_template.py --server x.x.x.x --username administrator@vsphere.local --password Admin\!23 --datacentername Sample_DC_2 --resourcepoolname rp --datastorename "local-0 (1)" --vmname Sample_Basic_VM_for_Simple_Testbed -v
server: x.x.x.x
Fou

[2018-04-11 01:50] sanjay1839 commented on #55
Yes i have pulled the latest code and installed the required packages but still getting this error i have actually modified code to use cluster instead of resource pool is this code not supported for cluster?

Found VM 'isp-7934' (vm-1801)
Detected cluster '7934' as domain-c1789
Datastore MoId: datastore-1795
Local library created, ID: 4f687373-4935-45e8-8e07-060a7e45aa8c
Traceback (most recent ca

[2018-04-11 11:43] sanjay1839 commented on #55
Yes i have pulled the latest code and installed the required packages but still getting this error i have actually modified code to use cluster instead of resource pool is this code not supported for cluster?

Found VM 'isp-7934' (vm-1801)
Detected cluster '7934' as domain-c1789
Datastore MoId: datastore-1795
Local library created, ID: 4f687373-4935-45e8-8e07-060a7e45aa8c
Traceback (most recent ca

[2018-04-11 20:36] tianhao64 commented on #55
Cluster should work too. Can you share your modified code?

[2018-04-11 20:36] tianhao64 commented on #55
Can you try if the original version with resource pool works for you?

[2018-04-11 20:57] sanjay1839 commented on #55
#!/usr/bin/env python

"""
* *******************************************************
* Copyright VMware, Inc. 2017-2018. All Rights Reserved.
* SPDX-License-Identifier: MIT
* *******************************************************
*
* DISCLAIMER. THIS PROGRAM IS PROVIDED TO YOU "AS IS" WITHOUT
* WARRANTIES OR CONDITIONS OF ANY KIND, WHETHER ORAL OR WRITTEN,
* EXPRESS OR IMPLIED. THE AUTHOR SPECIFI

[2018-04-11 20:57] sanjay1839 commented on #55
#!/usr/bin/env python

"""
* *******************************************************
* Copyright VMware, Inc. 2017-2018. All Rights Reserved.
* SPDX-License-Identifier: MIT
* *******************************************************
*
* DISCLAIMER. THIS PROGRAM IS PROVIDED TO YOU "AS IS" WITHOUT
* WARRANTIES OR CONDITIONS OF ANY KIND, WHETHER ORAL OR WRITTEN,
* EXPRESS OR IMPLIED. THE AUTHOR SPECIFI

[2018-04-11 22:13] tianhao64 commented on #55
Still can't reproduce the issue:
Found VM 'Sample_Basic_VM_for_Simple_Testbed' (vm-78)
Detected cluster 'Cluster1' as domain-c46
Datastore MoId: datastore-68
Local library created, ID: c2f9868a-6498-468e-897c-df0761bba2e5
Created VM template item 'vmtx-item-WNDFY' with ID: 2f2bf9f6-6b0c-41af-b445-12d220d471bd
VM template guest OS: WINDOWS_9_64
disconnecting the session

Can you post the result of

[2018-04-12 02:51] sanjay1839 commented on #55
this is the pip list
asn1crypto (0.24.0)
attrs (17.4.0)
Automat (0.6.0)
beautifulsoup4 (4.5.1)
certifi (2018.1.18)
cffi (1.11.5)
chardet (3.0.4)
click (6.7)
command-not-found (0.3)
constantly (15.1.0)
cryptography (2.2.2)
Cython (0.24.1)
extras (1.0.0)
falcon (1.0.0)
fixtures (3.0.0)
Flask (0.12.2)
gevent (1.1.2)
greenlet (0.4.10)
gunicorn (19.6.0)
html5lib (1.0.1)
hyperlink (18.0.0)
idna (2.6)
in

[2018-04-12 15:12] sanjay1839 commented on #55
I have got the same error with original resource pool code too,
when i go to this path /usr/local/lib/python3.5/dist-packages/com/vmware/vcenterr. i dont have this file in there does that matter ""vm_template.library_items'"' because i am getting this error  ????

Exception: {data : None, messages : [LocalizableMessage(args=['com.vmware.vcenter.vm_template.library_items'], default_message="Cannot

[2018-04-12 16:53] alanrenouf commented on #55
VM Templates from content library was added into VMware Cloud on AWS (VMC) only at the moment, are you running it against VMC?

[2018-04-12 16:58] sanjay1839 commented on #55
No I am not running against VMC .  i am running against my on premise instance

[2018-04-12 17:02] alanrenouf commented on #55
This API has not yet made it to an on-premise release, if you want to work with templates in Python the only way to do this at the moment is to use PyvMomi and use the VM Template functionality, VMTemlates in CL are currently only in VMC. Unless you are looking to work with OVFs published to CL?

[2018-04-12 17:12] sanjay1839 commented on #55
if OVFs works fine i will work with that

[2018-04-12 17:19] alanrenouf commented on #55
Great, you can find them here: https://github.com/vmware/vsphere-automation-sdk-python/tree/master/samples/vsphere/contentlibrary

[2018-04-12 17:19] #55 closed

[2018-04-12 17:41] sanjay1839 commented on #55
Thank you so much for taking time

[2018-04-12 18:27] sanjay1839 commented on #55
can you also please send me the link of pyvmomi samples to create vm from a template

[2018-04-18 14:46] rimsaoud opened #57 "hey I try to list the health status, state services of node vcenter 6.0 with python and I don't knew the APIs to use for this please help ??"
- Steps or code snippet to reproduce

- Expected behavior

- Actual behavior

- Environment info

    - sdk package version: ```pip list | grep v```

    - python version:

    - vSphere version:

[2018-04-18 14:50] #57 closed

[2018-04-18 14:54] rimsaoud opened #58 "hey I try to list the name the health and the state of v center services witch can found in (administration ->system configuration->services) version 6.0 please help???"
- Steps or code snippet to reproduce

- Expected behavior

- Actual behavior

- Environment info

    - sdk package version: ```pip list | grep v```

    - python version:

    - vSphere version:

[2018-04-18 23:52] tianhao64 commented on #58
@rimsaoud Please refer to this KB article to manage vCenter services: https://kb.vmware.com/s/article/2109881

[2018-04-18 23:52] #58 closed

[2018-04-19 08:17] rimsaoud commented on #58
hey,
Iknew this article but me i try to add him in python script like the
picture below  there is no API in
https://www.vmware.com/support/developer/vcsdk/visdk41pubs/ApiReference/vim.vm.Summary.html
and thanks for help

On 19 April 2018 at 01:52, Tianhao He <notifications@github.com> wrote:

[2018-04-19 15:11] metalbmw opened #60 "problem to install vsphere-automation-sdk-python exception occurs at vapi-client-bindings"
- [v ] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [x] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [x] I have searched [existing issues](https://github.com/facebook/react-native/issues)

## Environment
- sdk package version:
[root@python01 vsphere-automation-sdk-python]

[2018-04-19 18:01] tianhao64 commented on #60
```Seems there is a typo in the README. file:///`pwd`/lib should be file://`pwd`/lib. But seems 3 /// should still work.```
Are you using a virtual env? It's highly recommended to use one so user installed modules won't conflict with the system ones. Please follow this if you haven't done so: https://github.com/vmware/vsphere-automation-sdk-python#prepare-a-python-development-environment.
It's als

[2018-04-24 06:33] wonhiwon commented on #60
thank you after update python with 2.7.14 it works

[2018-04-24 06:35] #60 closed

[2018-05-10 07:27] Akasurde commented on #55
@sanjay1839 Please check this example for deploying VM from template using Pyvmomi -  https://github.com/vmware/pyvmomi-community-samples/blob/master/samples/clone_vm.py

[2018-05-10 13:51] sanjay1839 commented on #55
Hey Abhijeet

Thanks for the reply, do you have any script that uses object instead of
command line arguments to integrate or import to flask.

Thank you
Sanjay T

On Thu, May 10, 2018 at 3:27 AM, Abhijeet Kasurde <notifications@github.com>
wrote:

[2018-06-05 04:02] meetdash commented on #60
same issue. tried everything. still not working.

python --version
Python 3.6.3

I'm working on Windows 10.

![vsphereautpsdkerror](https://user-images.githubusercontent.com/19898819/40954656-25f37968-68a3-11e8-9b59-1d40eae110b7.png)

[2018-06-05 05:59] tianhao64 commented on #60
@meetdash Windows file path cmd is different from linux/mac. Can you try:
pip install --upgrade --force-reinstall -r requirements.txt --extra-index-url file:\\%CD%\lib

[2018-06-05 10:35] meetdash opened #68 "vapi_runtime>=2.5.0 error"
I cloned this repo as mentioned in the Readme.md

- sdk package version:
`pip3 list | grep v`
ubuntu-drivers-common (0.0.0)
unity-scope-colourlovers (0.1)
unity-scope-devhelp (0.1)
unity-scope-gdrive (0.7)
unity-scope-virtualbox (0.1)

- python version:
`python --version`
Python 3.4.3

## Steps or code snippet to reproduce
`sudo pip3 install --upgrade --force-reinstall -r requirements.txt --extra-

[2018-06-05 11:31] tianhao64 commented on #68
@meetdash Windows file path is different from linux/mac. Can you try:
pip install --upgrade --force-reinstall -r requirements.txt --extra-index-url file:\%CD%\lib

[2018-06-05 12:15] meetdash commented on #68
this I tried on Ubuntu 14.04

[2018-06-05 12:19] meetdash commented on #60
it worked. thanks!!

[2018-06-07 06:42] tianhao64 commented on #68
@meetdash Is it working for you now? Can we close this issue?

[2018-06-07 08:03] meetdash commented on #68
Yes

[2018-06-07 08:03] #68 closed

[2018-06-08 09:16] Lucas-C commented on #38
Hi.

Some packages have been uploaded to Pypi: https://pypi.org/search/?q=vapi

However they do not match the examples in the `README.md`:

    from vmware.vapi.vmc.client import create_vmc_client
    ImportError: No module named vmc.client

[2018-06-08 12:00] Lucas-C opened #70 "vapi-vmc-client as an undeclared dependancy on vapi-common-client"
- [x] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [x] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [x] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue)

## Environment
- sdk package version:
[co

[2018-06-08 12:04] Lucas-C opened #71 "Erroneous import in vmware/vapi/vmc/client.py from vapi-vmc-client==2.9.0 package"
- [x] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [x] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [x] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue)

## Environment
- sdk package version:
[co

[2018-06-10 18:50] sanjay1839 opened #72 "assign mac address to a vm using python"
Hi I am trying to assign a mac address to a vm using python do you have any sample or module to assign mac address ?

[2018-06-11 14:06] tianhao64 commented on #70
@Lucas-C How did you install the modules? com.vmware.vapi.std is part of vapi-client-bindings. If you use the install cmd in README, all dependencies should be installed.
We recently integrated NSX bindings which may have introduced some duplicated dependencies, we will revisit and cleanup the redundant dependencies.

[2018-06-11 14:19] Lucas-C commented on #70
In my company, our internal process to handle Python packages that are not published on http://pypi.org is to put them in our repository manager, that handles all our build artifacts in all the languages we use (think [JFrog artifactory](https://jfrog.com/artifactory/), [SonaType Nexus](https://www.sonatype.com/nexus-repository-sonatype), etc).

We do handle Python dependencies by `git clone`-ing

[2018-06-11 14:40] tianhao64 commented on #70
Thanks for the clarification. Yes, vapi_common_client should also be a dependency of vapi-vmc-client. We will work on a fix to add this dependency to the wheel.

[2018-06-15 05:36] tianhao64 opened #76 "sddc_crud.py samples throws exception when waiting for task to complete."
- [X] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [X] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [X] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue)

## Environment
- sdk package version:

py

[2018-06-15 21:01] gruden-g2 opened #77 "'vapi-client-bindings does not satisfy requirements'"
- [x] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [x] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [x] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue)

## Environment
- sdk package version:

-

[2018-06-16 08:17] tianhao64 commented on #77
@gruden-g2 can you try below on windows?
pip install --upgrade --force-reinstall -r requirements.txt --extra-index-url file:\%CD%\lib

[2018-06-19 14:45] arjun75x commented on #77
![capture](https://user-images.githubusercontent.com/29492173/41604680-6c41bd8c-73a5-11e8-95a0-c3461a4de80b.PNG)
It can't find the directories of anything under lib because the forward slashes become back slashes and it tries to find cached versions of the libs @tianhao64

[2018-06-21 13:59] tianhao64 commented on #77
@arjun75x Seems you are using power shell where %CD% doesn't give you current absolute path. Can you try it in cmd or pass the [absolute file path URL instead](https://en.wikipedia.org/wiki/File_URI_scheme#Windows)?

[2018-06-22 15:05] tianhao64 commented on #77
@arjun75x I am closing this for now. Please let me know if you still see issues.

[2018-06-22 15:05] #77 closed

[2018-06-22 15:13] arjun75x commented on #77
@tianhao64 it didnt work on cmd or with the absolute path because it changes to the backslashes, but its fine Im using it on linux anyways now

[2018-06-28 07:19] Prodesire opened #79 "What's the difference between vsphere-automation-sdk-python and pyvmomi"
Well, as far as I know, both of them can do many same things like creating and running a vm.
I wonder what is the main difference between vsphere-automation-sdk-python and pyvmomi?
Thanks a lot.

[2018-07-03 12:22] meetdash opened #83 "How to access instanceUuid"
- I am using the [latest SDK version]
- This API is compatible with my vCenter version
- I have searched [existing issues]

- sdk package version:
pyvmomi                       6.7.0
service-identity              17.0.0
vapi-client-bindings          1.3.1
vapi-common-client            2.9.0
vapi-runtime                  2.9.0
vapi-vmc-client               2.9.0
vmc-app-python-sdk            2.2.0.

[2018-07-03 12:23] meetdash commented on #83
I need to get all members of all Grouping Objects in NSX-V, like VirtualMachines, IPSets, VirtualWire, etc.
And then I need to get their instanceUuids.
How can I do this using this API?

[2018-07-06 06:20] parthashp opened #84 "public_ip_crud.py throws error"
- [x] I am using the [latest SDK version]
- [x] This API is compatible with my vCenter version 6.7 VMC on AWS
- [x] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue)

## Environment
- sdk package version:
javapackages (1.0.0)
pyudev (0.21.0)
pyvmomi (6.7.0)
service-identity (17.0.0)
vapi-client-bindings (1.3.1)
vapi-common

[2018-07-06 18:10] tianhao64 commented on #84
@parthashp Please edit pythonpath to include samples module: https://github.com/vmware/vsphere-automation-sdk-python#first-set-pythonpath-to-use-sdk-helper-methods

[2018-07-06 18:10] #84 closed

[2018-07-13 14:41] YagnaPhani commented on #79
I have same doubt too.. Can someone answer please?

[2018-07-13 15:29] tianhao64 commented on #79
PyVmomi used the vSphere web service APIs which are SOAP based APIs. For more info refer to: https://code.vmware.com/doc/preview?id=4206
vSphere Automation SDKs (python, java, .net, perl, ruby and REST) uses new version REST based APIs. Some new features like Tagging, Content Library,
Appliance Management, NSX and VMware Cloud on AWS console APIs are only available through the Automation SDKs. Som

[2018-07-13 15:29] #79 closed

[2018-07-14 00:56] linuxdan commented on #79
Will both libraries continue to be supported ?

[2018-07-14 02:38] Prodesire commented on #79
@tianhao64 Thanks for explaining.

[2018-07-14 03:05] tianhao64 commented on #79
@linuxdan Yes, both will continue to be supported.

[2018-07-15 11:03] navi86 opened #85 "how to get vms in folder"
I am trying to get VMs fro specific folder.
my code
from com.vmware.vcenter_client import VM
vm_svc = VM(stub_config)
vm_svc.list(VM.FilterSpec(folders=set(['vm'])))
In the result I got empty list.
What am I doing wrong ?
If don't use filter I get all VMs in venter.

[2018-07-17 09:42] madexuan commented on #32
Does the VCSA 6.0 api support virtual machine creation?

[2018-07-17 14:55] tianhao64 commented on #32
No. VM lifecycle APIs are introduced in 6.5.

[2018-07-22 07:39] navi86 commented on #85
Of course I have, it's the default folder in VMware group "VMs and Templates"

[2018-07-23 17:47] tianhao64 commented on #85
@navi86 Just realized what's the problem. The folders parameter in VM.FilterSpec takes IDs instead of names. You have to get the folder ID first. The below code snippet should work for you:

[code]

[2018-07-23 17:47] #85 closed

[2018-08-04 09:38] navi86 commented on #85
open
But it doesn't get vms in subfolders.

[2018-08-04 09:41] navi86 opened #87 "how to get vms in folder"
I am trying to get VMs from specific folder and subfolders.
I've opened issue 85, but the solution doesn't provide with vms in subfolder.
Is it not possible to get vms in subfolders ?

[2018-08-06 21:30] tianhao64 commented on #87
The API currently doesn't include vms in subfolders. I just checked the API doc and it doesn't mention this behavior. I will file a bug to fix the doc. I will also file a feature request to add the recursive capability to the API.

[2018-08-06 21:39] tianhao64 commented on #83
@meetdash Can you take a look at https://github.com/vmware/vsphere-automation-sdk-python/tree/master/samples/vmc/networks? Is this something you need?

[2018-08-07 00:12] meetdash commented on #83
No, but I solved this issue using NSXCLI. Thanks

[2018-08-07 00:12] #83 closed

[2018-08-08 20:46] sanjay1839 opened #89 "Migrate the host network from virtual switch to distributed switch"
Hey All,

I trying to migrate the host network from virtual switch to distributed switch, with the vmotion, provisioning and management enabled on it and also HA and DRS enabled for the cluster.

Do you have any samples for that please

Thank you
San

[2018-08-12 15:01] grantcurell opened #90 "Installation fails on CentOS"
- [. ] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [. ] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [. ] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue)

## Environment
- sdk package version:

[2018-08-13 22:37] tianhao64 commented on #90
@grantcurell Thanks for sharing the issue. The runtime package requires twisted as a pip dependency. Looks like you hit an issue installing Twisted on CentOS7. Not sure if there is anything the sdk can do avoid this issue. Is it working for you now with the workaround you posted?

[2018-08-15 00:10] grantcurell commented on #90
@tianhao64 No idea who wrote these samples and I know it has nothing to do with this ticket, but just wanted to say they are amazing. Made it super easy to get up and running. Thank you so much!

[2018-08-15 17:36] tianhao64 commented on #90
@grantcurell Glad to hear the samples are useful for you and thanks for sharing your feedback!

[2018-08-16 14:59] sanjay1839 commented on #89
@tianhao64  Just want to ask if you are working on this sample

[2018-08-16 17:29] tianhao64 commented on #89
@sanjay1839 I am not working on the sample.
I think it's easier to get answer if you have a specific API related question.
Not sure if the operations you are trying to do are available using Automation SDK, can you take a look at pyvmomi samples to see if there is anything helpful?
https://github.com/vmware/pyvmomi-community-samples

[2018-08-16 18:20] sanjay1839 commented on #89
@tianhao64  i am basically looking to move the host adapter and nics from vmnetwork to distributed swtich

[2018-08-18 22:48] grantcurell commented on #90
Found a workaround for Python 3.7. You can install Twisted from here:
[Twisted](https://www.lfd.uci.edu/~gohlke/pythonlibs/#twisted)

Then you have to run `pip install --upgrade -r requirements.txt --extra-index-url file:///<your_path_here>lib`

Note you have to drop the --force-reinstall otherwise it will try to reinstall Twisted and it will fail.

[2018-08-18 22:48] #90 closed

[2018-08-20 17:06] tianhao64 commented on #90
@grantcurell Thanks for the tip!

[2018-08-26 12:06] WalterWo opened #91 "ModuleNotFoundError: No module named 'vmware.vapi.vsphere'"
- [X] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [ ] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [X] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue)

## Environment
- sdk package version:

`m

[2018-08-28 19:12] tianhao64 commented on #91
@WalterWo Seems vapi-client-binding didn't re-installed correctly. The right version should be 1.3.1.
Can you post the output of the pip install cmd?

[2018-09-09 23:48] khalilnawar commented on #91
same issue here with the vapi-client-bindings version 1.3.1
$ pip freeze | grep vapi
vapi-client-bindings==1.3.1
vapi-common-client==2.9.0
vapi-runtime==2.9.0
vapi-vmc-client==2.9.0

[2018-09-18 07:44] omniproc opened #92 "Minimize requirements on 3rd party libraries"
Hello,

could you please consider minimizing 3rd party lib requirements? We'd really love to use the SDK rather then PyVmomi directly but currently the huge amount of 3rd party libs makes this project highly dependend on many moving parts that often break.
Currently I see at least those requirements:

`
certifi, urllib3, chardet, idna, requests, six, pyVmomi, suds-jurko, tabulate, setuptools, pyas

[2018-09-19 09:45] shenmingxing opened #93 "com.vmware.vapi.std.errors_client.OperationNotFound"
code:
import requests
import urllib3

from vmware.vapi.vsphere.client import create_vsphere_client
session = requests.session()

# Disable cert verification for demo purpose.
# This is not recommended in a production environment.
session.verify = False

# Disable the secure connection warning for demo purpose.
# This is not recommended in a production environment.
urllib3.disable_warnings(urllib3.

[2018-09-19 15:18] tianhao64 commented on #93
Looks like the datacenter name is using non-ascii chars? I will try to reproduce this issue.

[2018-09-21 17:44] tianhao64 commented on #92
@m451 Regarding to python2, it's true that VC 6.5 has moved to python3. However, we still need to support client side code in python2. We probably can remove six and move to python3 only once python2 is deprecated.
Do you mind sharing your use case? What are VM related tasks you are doing using Automation SDK(REST APIs)? What are the operations you can't do using Automation SDK and still need to r

[2018-09-22 21:45] khalilnawar opened #97 "vmconf = vim.vm.ConfigSpec(numCPUs=1, memoryMB=mem)"
Hi,
please how to correct this problem:
Traceback (most recent call last):
  File "C:/Users/khalil/PycharmProjects/vmware/finalScript/pyvmomicreateVM.py", line 34, in <module>
    vmconf = vim.vm.ConfigSpec(numCPUs=1, memoryMB=mem)
AttributeError: 'module' object has no attribute 'vm'
Error in atexit._run_exitfuncs:
Traceback (most recent call last):
  File "C:\Python27\lib\atexit.py", line 24, in

[2018-09-23 19:59] m451 commented on #92
Well in particular I was unable to get the SDK running in first place because of the said twisted requirement on .Net. To be fair I haven't spend much time looking into this issue since seeing the amount on requirements scared me away.

But since you asked what's holding us back I'll share my thoughts:
The biggest problem I see (looking through the example and source) is that the SDK is trying to

[2018-09-24 01:53] khalilnawar opened #98 "com.vmware.vapi.std.errors_client.OperationNotFound"
Hi,

I went to create virtual machine in VMWARE VCENTER with  python script. I tested scripts in this link : https://github.com/vmware/vsphere-automation-sdk-python/tree/master/samples/vsphere/vcenter/vm     i tested create create_exhaustive_vm  and delete_vm , error appear with create  : com.vmware.vapi.std.errors_client.OperationNotFound: {data : None, messages : [LocalizableMessage(default_mess

[2018-09-24 01:54] khalilnawar commented on #98
@alanrenouf

[2018-09-24 12:41] FumbleBe opened #99 "ImportError: No module named samples.vsphere.common.sample_base"
- [x] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [x] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [x] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue)

## Environment
- sdk package version:
pyv

[2018-09-24 14:38] FumbleBe commented on #99
Just figured out the issue. It was because of my PYTHONPATH environment variable... (Sorry I'm not familiar with Python) setting it to

Solved the problem. But the workflow still doesn't work... Now, it says:

[code]

[2018-09-24 17:06] tianhao64 commented on #99
@FumbleBe
Does your cluster name, catalog name or description contain non-ascii chars?
Can you check your server log to see if you can get more stacktrace?

[2018-09-24 17:08] tianhao64 commented on #98
@khalilnawar What's your VC version?

[2018-09-24 17:11] khalilnawar commented on #98
Vcenter Server 6.0 U2

[2018-09-24 17:13] tianhao64 commented on #98
The vm APIs are introduced since 6.5 as indicated in each sample: https://github.com/vmware/vsphere-automation-sdk-python/blob/master/samples/vsphere/vcenter/vm/delete_vm.py#L17.
vCenter 6.0 supports content library and tagging APIs.

[2018-09-24 17:13] #98 closed

[2018-09-24 17:17] khalilnawar commented on #98
@tianhao64  and ESXI version ?

[2018-09-24 17:51] alanrenouf commented on #98
This API is not currently on ESXi, if you wish to create a VM on ESX/VC in 6.0 U2 you will need to use one of the pyvmomi samples for now https://github.com/vmware/pyvmomi-community-samples/tree/master/samples which uses the soap api.

[2018-09-24 18:40] tianhao64 commented on #92
@m451 Really appreciate your feedback! I will forward your message to the team.
I'd like to quickly answer a couple of points:
1. We are working on removing twisted and service identity from the dependencies. The change should be available in upcoming releases.
2. The new REST APIs a complete new set of APIs. The new APIs are redesigned to make it much easier to use than the legacy SOAP APIs. Sinc

[2018-09-25 13:14] FumbleBe commented on #99
Ok, so, managed to find out what was wrong...

Despite the fact that my vcenter was in 6.0.0, and it is suppose to work with this version, it seems that the build was probably too old (3339084).
I update it to build 9313458, and now, it is working...

[2018-09-25 13:14] #99 closed

[2018-09-26 13:45] GrandeTartine opened #101 "Use tags to filter list vms"
- [x] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [x] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [x] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue)

Hello.

I was wondering, is there any way

[2018-09-26 13:58] FumbleBe commented on #101
Good question ! I wish I can do it too, but can't find a way...

[2018-09-28 01:20] jinrong58 opened #102 "如果想用这个管理vcenter5.5版本能做到吗？"

[2018-09-28 17:07] tianhao64 commented on #102
@jinrong58 We introduced the REST API support since VC 6.0, which has tagging and content library support.

[2018-09-28 17:07] #102 closed

[2018-10-07 16:35] m451 commented on #92
@tianhao64
Nice to hear you're working on removing dependencies and pypi integration.
I was talking about adding type hints (Python3): https://docs.python.org/3/library/typing.html#module-typing

[2018-10-08 05:15] tianhao64 commented on #101
@GrandeTartine @FumbleBe Will this help?
https://vmware.github.io/vsphere-automation-sdk-python/vsphere/6.7.0/com.vmware.cis.html?highlight=tagging#com.vmware.cis.tagging_client.TagAssociation.list_attached_objects_on_tags

[2018-10-09 08:58] GrandeTartine commented on #101
Hello.

Yes, this is what I need. Thanks.
Sorry that I completely missed that in the documentation.

[2018-10-09 08:58] #101 closed

[2018-10-19 13:17] tianhao64 commented on #92
@m451 As part of the latest runtime in [6.7u1 release](https://github.com/vmware/vsphere-automation-sdk-python/commit/1af08d664e26ade00d39edc2f6ae17cd330c20c5) we removed twisted and service-identity from the dependency list. Now 3rd party dependencies are down to:
asn1crypto, certifi, cffi, chardet, cryptography, idna, lxml, pycparser, pyOpenSSL, pyvmomi, requests, six, suds-jurko, tabulate, urll

[2018-10-23 07:17] kmruddy opened #107 "External Project (AutoREST) Finds Schema Validation Errors"
- [x] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [x] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [x] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue)

## Environment
- sdk package version:

La

[2018-10-23 07:41] tianhao64 commented on #107
Talked to Kyle offline. Wrong repo. He will report this to autorest instead. Close this one.

[2018-10-23 07:41] #107 closed

[2018-10-31 21:36] bhundven opened #108 "Traceback during pip install"
- [X] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [X] This API is compatible with my vCenter version 6.7update1
- [X] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue)

## Environment
- sdk package version:
$ pip list | grep v
pyvmomi                       6.7.1

[2018-11-01 02:20] tianhao64 commented on #108
Looks like there is an extra "/" in the file path. Can you try:
pip install --upgrade --force-reinstall -r requirements.txt --extra-index-url file:///home/bhundven/Projects/work/vsphere-automation-sdk-python/lib

[2018-11-01 11:14] samuelwagen opened #110 "Unable to deploy a VM from Content Library - method expects PlacementSpec but got DeployPlacementSpec"
- [X] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [X] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [X] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue)

## Environment
- sdk package version:
pyv

[2018-11-02 08:58] tianhao64 commented on #110
@samuelwagen, 6.7.0 doesn't have this specific API yet. Version 6.6.2 stated on top of the sample is a cloud release(VMware Cloud on AWS). 6.7.0 is the onprem release right after that, however, the APIs scope are finalized long before 6.6.2 was released. Therefore, a couple of APIs introduced as part of 6.6.2 cloud release are not available in 6.7.0 vCenter.
The versioning pattern is a little big

[2018-11-02 08:58] #110 closed

[2018-11-13 02:40] tianhao64 commented on #91
@khalilnawar do you still have the same issue? Can you post the complete output of the pip install cmd?

[2018-11-16 09:30] tianhao64 commented on #93
@shenmingxing Sorry to get back to you late. Seems the issue is not related to the datacenter name. What's your vcenter version? The listing vm API was introduced since vSphere 6.5.

[2018-11-18 00:12] dungla2011 commented on #36
I have the same error, and can not fix:

[code]

**Requirements.txt:**
[code]

[code]

[2018-11-18 00:34] dungla2011 opened #115 "Could not find a version that satisfies the requirement vapi-client-bindings==1.5.0 (from -r requirements.txt...)"
Help me please:

- [x ] I am using the https://github.com/vmware/vsphere-automation-sdk-python.git  (18/11/2018)
- [x ] I have searched [existing issues]

## Environment
- sdk package version:
[root@galaxycloud vsphere-automation-sdk-python]# pip list | grep v
virtualenv 15.1.0

[root@galaxycloud vsphere-automation-sdk-python]# pip --version
pip 18.1 from /opt/rh/rh-python36/root/usr/lib/python3.6

[2018-11-19 02:30] tianhao64 commented on #115
Can you try:
pip install -r requirements.txt --extra-index-url file:///share/vsphere-automation-sdk-python/lib/

[2018-11-19 02:33] tianhao64 commented on #36
@asifaaag @dungla2011 Please give full file path to the lib folder. such as
pip install -r requirements.txt --extra-index-url file:///share/vsphere-automation-sdk-python/lib/
The sample cmd is listed in the main README quick start section.

[2018-11-19 07:30] tianhao64 commented on #91
@WalterWo @khalilnawar I am closing this due to missing info. Feel free to reopen with needed info if you still see issues.

[2018-11-19 07:30] #91 closed

[2018-11-19 15:42] dungla2011 commented on #115
And after run something, it seem OK now:
(Centos 7, Default Python 2.7.5)

[root@galaxycloud vsphere-automation-sdk-python]# python --version
Python 2.7.5

- Change in requirements.txt, from
vapi-client-bindings == 1.5.0 => vapi-client-bindings == 2.5.0

- Run some cmds:
pip install virtualenv
pip install wheel
pip install -r requirements.txt --extra-index-url file:///share/vsphere-automation-sdk-

[2018-11-19 16:21] dungla2011 commented on #71
I have the same error!

![image](https://user-images.githubusercontent.com/7878963/48720170-bf40c800-ec51-11e8-8637-84a3a04611c9.png)

... ImportError: No module named vsphere.client

[2018-11-20 02:34] tianhao64 commented on #71
@dungla2011 The binding version you installed(2.5.0) is not the latest and thus you don't see vmware.vapi.vsphere module. Once you installed the correct version 1.5.0, you should see the module.

@Lucas-C The StubFactory should come from com.vmware.vmc.client. The pip dependencies issue is tracked by https://github.com/vmware/vsphere-automation-sdk-python/issues/70. Closing this as not a bug.

[2018-11-20 02:34] #71 closed

[2018-11-20 15:15] shyamdayals opened #116 "List tag name and description"
Hello,

This is not an issue, but just a question.

I am new to this SDK.  I need to list all the tag's and categories. I get the tag ID, but not name or description from the following code. Any idea how can I extract this ?

https://github.com/vmware/pyvmomi/issues/307

# Create Tagging services

tag_svc = Tag(stub_config)
category_svc = Category(stub_config)
tag_association = TagAssociation(stub

[2018-11-21 13:37] tianhao64 commented on #116
@shyamdayals I updated the tagging sample and add the sample API call. Please take a look: https://github.com/vmware/vsphere-automation-sdk-python/blob/master/samples/vsphere/tagging/tagging_workflow.py#L156

[2018-11-21 16:58] shyamdayals commented on #116
Thank you tianhao64. I used the get and works perfectly.

[2018-11-22 02:11] tianhao64 commented on #36
BTW, --upgrade --force-reinstall is also required. Please see README for examples:
https://github.com/vmware/vsphere-automation-sdk-python#installing-required-python-packages

[2018-11-22 02:29] tianhao64 commented on #115
Added a troubleshooting wiki and describe the solution to this issue too. Closing as not a bug. Please let me know if you still can't install using the correct file path and pip parameters.

[2018-11-22 02:29] #115 closed

[2018-11-22 02:30] tianhao64 commented on #115
Here is the wiki link: https://github.com/vmware/vsphere-automation-sdk-python/wiki/Troubleshooting#installation-raises-error-could-not-find-a-version-that-satisfies-the-requirement

[2018-11-22 02:32] tianhao64 commented on #93
It's very likely that the vcenter doesn't support VM APIs. Please double check. Let me know if it's not the case.

[2018-11-22 02:32] #93 closed

[2018-11-22 08:13] tianhao64 commented on #92
tabulate is removed.

[2018-11-22 08:17] tianhao64 commented on #97
@khalilnawar Are you using pyvmomi? Can you post the complete script?

[2018-11-27 10:35] 14kosta opened #119 "Try to add RDM disk to VM got error "Incompatible device backing specified for device '0'"."
- [x] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
 Answer: yes
- [x] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
I use Version 6.7.0.1150 Build 8170132
- [x] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is

[2018-12-01 19:01] cynthia-rempel opened #121 "Please update Readme"
I ran pip install --upgrade --force-reinstall -r requirements.txt --extra-index-url file:///build/vsphere-automation-sdk-python/lib
and got errors.

Looked for requirements.txt, found /build/vsphere-automation-sdk-python/

Apparently, I also was supposed to install vapi-client-bindings BEFORE running this command

[2018-12-01 19:05] cynthia-rempel commented on #121
Removing the --force-reinstall and removing /lib at the end didn't result in errors

[2018-12-03 04:52] tianhao64 commented on #121
@cynthia-rempel If you hit error when using pip cmd it usually means a incorrect file url is used. What's the absolute path of your local sdk repo? Can you post the complete cmd output? I assume you are using linux, right?

[2018-12-05 10:04] NikolayDachev opened #122 "com.vmware.appliance_client: LocalAccounts.Info(fullname) vs. LocalAccounts.UpdateConfig(full_name)"
I'm using latest version from github but also in documentations is the same

Is there any reason why for LocalAccounts.Info we should use (fullname) and for  LocalAccounts.UpdateConfig we should use (full_name)

https://vmware.github.io/vsphere-automation-sdk-python/vsphere/6.7.1/com.vmware.html?highlight=com%20vmware%20appliance_client%20module#module-com.vmware.appliance_client

[2018-12-07 02:08] tianhao64 commented on #122
@NikolayDachev Thanks for raising this issue. Looks like it's a bug on the LocalAccounts.Info. It supposed to be full_name too. Will file a bug to the team.

[2018-12-07 14:12] dfoley84 opened #123 "can this be configured for flask ?"
- [ ] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [ ] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [ ] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://github.

[2018-12-17 09:22] tianhao64 commented on #123
@dfoley84 Can you be more specific about your question?

[2018-12-21 22:14] dfoley84 commented on #123
@tianhao64 at the moment i am working on a "Node.js" front end that will link back to Terraform, to give users a GUI interface for requesting vsphere / amazon web service resources. While Terraform is limited with vmware provider, i would like to opt for the same idea for vSphere SDK for python using "Flask" to give users a rich GUI interface for requesting vsphere resources. Since you don't offer

[2018-12-24 08:11] tianhao64 commented on #123
@dfoley84 This sdk has python bindings to vSphere, VMC and NSXT REST APIs. PowerCLI provides cmd link utils to interact with multiple VMware products. Note that at this point majority of the vSphere features are covered by pyVmomi. Automation SDK covers a few new features as well as vCenter VM lifecycle APIs.
PyVmomi uses vSphere web service APIs which are SOAP based APIs. For more info refer to:

[2018-12-27 11:18] activars commented on #38
I guess this is still outstanding task. It's probably better to prioritise as as distribution packages are key aspect for developer adoption?

[2018-12-28 08:33] Lucas-C commented on #38
I haven't pushed anything related to VMWare / VSphere on https://pypi.org

[2019-01-10 06:12] tianhao64 commented on #119
@14kosta Apologies for the late response.

Can you try to comment out "type=Disk.HostBusAdapterType.SCSI," when creating the Disk.CreateSpec?

If it's still not working. Could you please post the stacktrace from /var/log/vmware/vpxd/vpxd.log so we get more info?

[2019-01-10 07:57] tianhao64 commented on #121
Close as not a bug. Please check https://github.com/vmware/vsphere-automation-sdk-python/wiki/Troubleshooting to see if it can help you resolve your issue.

[2019-01-10 07:57] #121 closed

[2019-01-10 08:00] tianhao64 commented on #97
@khalilnawar I am closing this due to lack of info. Please post your script if you still see this issue.

[2019-01-10 08:03] #123 closed

[2019-01-10 13:46] 14kosta commented on #119
Hi tianhao64,
Commenting out "type=Disk.HostBusAdapterType.SCSI," doesn't help - I get the same error.
Attaching vpxd.log
[vpxd.zip](https://github.com/vmware/vsphere-automation-sdk-python/files/2745545/vpxd.zip)

Thank you

[2019-01-10 15:08] tianhao64 commented on #119
@14kosta Hmm. the log doesn't have related error message.  Will ask the storage expert to take a look. Meanwhile, can you check this post? https://cormachogan.com/2013/04/08/microsoft-clustering-on-vsphere-incompatible-device-errors/

[2019-01-11 05:53] 14kosta commented on #119
Hi tianhao64,
I looked at the sent by you link. My configuration is the following: I have SCSI device /vmfs/devices/disks/eui.57df0280647efa2de9751c5d0000000 that is seen on three ESXi hosts.  Then I attaching it to VM that is on one of ESXi hosts and the command fails thru SDK, but succeeded thru PowerCli and Web client. Situation described in the sent link looks for me  a little bit different.
T

[2019-01-11 07:13] tianhao64 commented on #119
I filed a SR against the storage team. Will keep you posted. Can you check hostd.log see if you see related error message?

[2019-01-11 14:59] 14kosta commented on #119
Command "find / -name hostd" doesn't return any hostd.log on vCenter or ESXi. Where to search for it?
BTW, in debugger I see that the error comes from requests module i.e. really comes from a server side.

[2019-01-11 16:12] Pyaray77 commented on #119
Modern versions of ESXi keep the hostd.log in /var/run/log.  Generally when you pull down a vm-support, the files will be gzip'ed

[2019-01-13 08:35] 14kosta commented on #119
when I run RDM mapping in the file /var/log/hostd.log appears the following:
2019-01-13T08:58:25.889Z info hostd[2099863] [Originator@6876 sub=Vmsvc.vm:/vmfs/volumes/5bdb7b78-27334b79-c9e6-2c600c66a3ff/RHEL70_thick13/RHEL70_thick13.vmx opID=50e9b1cb-01-dc-96e4 user=vpxuser:AUTO01.LOCAL\Administrator] Send config update invoked
2019-01-13T08:58:25.919Z info hostd[2099863] [Originator@6876 sub=Libs

[2019-01-13 09:52] 14kosta commented on #119
Hi tianhao64,
I run RDM mapping and simultaneously took vpxd.log (attached to this message) and hostd.log
(see the previous message).
In the current vpxd.log appears  "Incompatible device backing specified for device '0'.":
vim.fault.InvalidDeviceBacking:
--> Result:
--> (vim.fault.InvalidDeviceBacking) {
-->    faultCause = (vmodl.MethodFault) null,
-->    faultMessage = <unset>,
-->    property

[2019-01-16 10:01] tianhao64 commented on #70
This is fixed by https://github.com/vmware/vsphere-automation-sdk-python/pull/124

[2019-01-16 10:08] tianhao64 commented on #52
This issue is no longer reproducible in the latest binding(https://github.com/vmware/vsphere-automation-sdk-python/pull/124)

[2019-01-16 10:08] #52 closed

[2019-01-16 15:58] tianhao64 commented on #119
No update from the feature team yet. Will ping them again.

[2019-01-16 17:16] divyathallamudi commented on #36
Hi, I have the same error and cannot fix.
Running from Windows:

$ pip install --upgrade --force-reinstall -r requirements.txt --extra-index-url file://`pwd`/lib
Ignoring suds: markers 'python_version < "3"' don't match your environment
Looking in indexes: https://pypi.org/simple, file:///c/Users/dthallam/Documents/GitHub/vsphere-automation-sdk-python/lib
Collecting pyVmomi>=6.7 (from -r requireme

[2019-01-17 06:51] tianhao64 commented on #36
@divyathallamudi Can you follow the Windows example listed here?: https://github.com/vmware/vsphere-automation-sdk-python#installing-required-python-packages

[2019-01-17 07:47] 14kosta commented on #119
@tianhao64 , thank you!

[2019-01-18 01:44] tianhao64 commented on #36
@divyathallamudi You need one more "/". This should work:
pip install --upgrade --force-reinstall -r requirements.txt --extra-index-url file:\\\C:\Users\strefethen\github\vsphere-automation-sdk-python\lib

[2019-01-18 02:53] tianhao64 commented on #36
@divyathallamudi "Url 'file:\C:Usersdthallamdocumentsgithubvsphere-automation-sdk-pythonlib/pyvmomi/' is ignored: it is neither a file nor a directory." this is weird. Looks like the file path was incorrectly escaped. Not sure why. Are you still using Windows? Cmd Prompt or Powershell?

Was there three / following the file: or two? The cmd should be(3 slashes):
`pip install --upgrade --force-reins

[2019-01-22 18:37] divyathallamudi commented on #36
@tianhao64 I have installed the package directly to work it out but tried per your recommendation in a virtual environment and its working fine!

Steps performed:
1. Changed the value for "vapi-client-bindings" in requirements.txt to 2.5.0
vapi-client-bindings == 2.5.0
2. Ran the command pip install --upgrade --force-reinstall -r requirements.txt --extra-index-url file:\\C:\Users\dthallam\document

[2019-02-11 16:25] vThinkBeyondVM opened #130 "Error while running add_remove_hosts.py"
When I run this sample (C:\Professional\python\vsphere-automation-sdk-python\samples\vmc\sddc\add_remove_hosts.py) I hit below error: I am running from my python env set on windows 10

# Example: Add 1 ESX hosts to SDDC xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx:
Traceback (most recent call last):
  File "C:\Program Files\Python37\lib\site-packages\vmware\vapi\bindings\converter.py", line 259, in _visit_

[2019-02-11 17:00] vThinkBeyondVM commented on #130
I also get this error though "samples" package folder is available in directory.

C:\Professional\python\vsphere-automation-sdk-python\samples>python.exe C:\Professional\python\vsphere-automation-sdk-python\samples\vmc\sddc\add_remove_hosts.py -r "xxxxxxxxxxxx" -o "xxxxxxxxxxxxxxxxxxxxxxxxxxxx" -s "xxxxxxxxxxxxxxxxxxxxxxx"
Traceback (most recent call last):
  File "C:\Professional\python\vsphere-a

[2019-02-12 00:40] shekharHPE opened #131 "how to get '_moId' and the IP of the vcenter from vsphere_client"
I created a vsphere_client using
create_vsphere_client(server=<vcenter-ip>, username= <usr-name>, password=<pwd>, session=session)
And I am trying to get the '_moId' of the vcenter and the IP associated with the vcenter.
I know that I would provide <vcenter-ip> as a parameter while creating the vsphere_client, but still I need the information regarding the IP and _moId from the vsphere_client.

Re

[2019-02-12 00:52] tianhao64 commented on #130
@vThinkBeyondVM to use the helper method (wait_for_task) you need to add samples to your pythonpath: https://github.com/vmware/vsphere-automation-sdk-python#first-set-pythonpath-to-use-sdk-helper-methods

[2019-02-12 02:37] tianhao64 commented on #130
A couple of new fields were added to the esxconfig. The sample needs to be updated and pass a named argument (num_host) instead. Just updated the sample. Please try again.

[2019-02-12 02:37] #130 closed

[2019-02-12 03:16] tianhao64 commented on #131
@shekharHPE You can get moid for objects inside a vCenter, I don't think vCenter itself has moid though. You will pass vCenter hostname/ip when creating a vSphere_client, why you need to get IP again?
You can get vCenter metadata using appliance API:
vsphere_client.appliance.system.Version.get()
VersionStruct(version='6.7.0.12000', product='VMware vCenter Server Appliance', build='8832884', type='

[2019-02-12 13:52] activars commented on #38
@tianhao64 any luck with this?

[2019-02-12 14:30] tianhao64 commented on #38
Sorry, missed the previous message. Thanks for the feedback @Phxntxm, will try it out.

[2019-02-12 19:09] shekharHPE commented on #131
1. I assigned a tag to Vcenter in WebClient.
2. from vsphere_client.tagging API, I got the following:
the "group-d1" is the _moId for vcenter itself.

    "group-d1": {
        "B1": "B"
    },

In my code, I am trying to associate and verify if the tags I assigned in WebClient are in sync with the tags I receive from vshpere_client.tagging
All the other tags and moIds for VMs are accounted for, b

[2019-02-12 19:11] shekharHPE commented on #131
--- FYI
    "group-d1": {
    "B1": "B"
    },
here group-d1  is the moID and "B1" is the tag_name and "B" is the category_name
I have modified response from vsphere_client.tagging  to get the JSON like above.

[2019-02-13 04:06] tianhao64 commented on #131
Is 'group-d1' moid of vCenter or rootFolder? You can verify it vcenter_ip/mob
So you are not seeing the tag associated to "group-d1"? Can you share your code and steps to reproduce?

[2019-02-19 16:57] abshelto opened #132 "iso_mount throws exception when trying to mount"
- [x] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [x] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [x] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://github.

[2019-02-25 13:25] vladinux86 commented on #91
wget https://bootstrap.pypa.io/get-pip.py
python3.6 get-pip.py
python3.6 -m pip install --upgrade --force-reinstall -r requirements.txt --extra-index-url file:///<PATH>

[2019-02-26 09:43] tianhao64 commented on #132
I just submitted a change so the sample should fail right away when exception occurs. I am talking to the content library team about the actually exception now.

[2019-02-28 09:11] Akasurde opened #136 "Unable to update tag description"
- [ ] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [x] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [x] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://github.

[2019-02-28 09:12] Akasurde commented on #136
Output

[code]

[2019-02-28 14:48] tianhao64 commented on #132
@abshelto
The iso service (which provides mount operation) requires:
- Content library be backed by datastore and not NFS. A datastore backed by NFS should be fine.
- The datastore of the content library where the iso item is mounted be accessible from the host or cluster on which the vm resides.

Can you check if these two requirements are satisfied? Were you able to mount the iso from UI?

[2019-03-04 06:54] tianhao64 commented on #131
@shekharHPE I am closing this for now. Please provide more info if there still an issue.

[2019-03-04 06:54] #131 closed

[2019-03-09 02:15] shekharHPE opened #137 "How to get the PortID, VLAN_ID and portgroup associated with each VM ?"
How to get the PortID, VLAN_ID and portgroup associated with each VM ?

My Workaround:
I have looked into the getvnicinfo.py in samples but the output is not the same as that are present in the table in vShepereClient Web UI (In DistributedSwitch->Network->Ports tab)
The PortID, VLAN_ID and portgroup associated with each VM do not match at all.

I understand that the naming conventions followed by

[2019-03-09 02:17] shekharHPE commented on #137
- [Y] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [Y] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [Y] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://github.

[2019-03-11 21:58] shekharHPE commented on #137
For anyone who is seeking an answer to this issue:
This Works:

    def __get_nics(self, si):
        root_folder = si.content.rootFolder
        datacenters = [entity for entity in root_folder.childEntity
                            if hasattr(entity, 'networkFolder')]
        nics = {}
        for datacenter in datacenters:
            for network in datacenter.networkFolder.childEntity:

[2019-03-11 21:59] #137 closed

[2019-03-20 13:53] surfer190 commented on #38
Yes will really boost the easy of use of the package, that will draw in more contributors. Perhaps someone should help @tianhao64 to put it on pypi

[2019-03-20 16:09] tianhao64 commented on #38
The reason we can't push these package to pypi is because they contain generated code and the generator is not open sourced yet. AFAIK, only open sourced package can be listed on pypi. Please correct me if I am wrong.

[2019-03-21 17:28] klainn opened #141 "Simple way to find the cluster a vm is on at the moment?"
- [X] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [X] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [X] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://github.

[2019-03-21 18:00] klainn opened #142 "com.vmware.api.vcenter.vm.too_many_matches when looking at all vms on a cluster"
- [X] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [X] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [X] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://github.

[2019-03-22 06:21] tianhao64 commented on #142
@klainn list() returns maximum 1000 objects as stated in the API doc: https://vmware.github.io/vsphere-automation-sdk-python/vsphere/6.7.1/com.vmware.html#com.vmware.vcenter_client.VM.list. The filter spec takes a list of cluster IDs, not names. You can only use vm names in the VM list() filter spec. Here is an example how to get cluster ID: https://github.com/vmware/vsphere-automation-sdk-python/

[2019-03-22 06:21] #142 closed

[2019-03-22 06:48] tianhao64 commented on #141
@klainn This should work:
import requests
import urllib3
from vmware.vapi.vsphere.client import create_vsphere_client
from com.vmware.vcenter_client import VM

vm_name = "windows10"

session = requests.session()
session.verify = False
client = create_vsphere_client(server='', username='', password='', session=session)

clusters = client.vcenter.Cluster.list()

for cluster in clusters:
    vms = cl

[2019-03-22 07:50] tianhao64 commented on #136
@Akasurde I reproduced the issue. Seems it's a bug. I have reported to the tagging team.
(defect#2312860)

[2019-03-22 07:59] Akasurde commented on #136
@tianhao64 Thanks for the update.

[2019-03-22 10:25] klainn commented on #142
But that's the problem. The project requirement is that if a VM exists in the vcenter instance I'm working with, I need to be able to see it regardless of any filter conditions. The only filter condition the business is interested in is exists==true.

Do you have a suggestion on how to use filters but still get every virtual machine?

[2019-03-22 13:40] tianhao64 commented on #142
I will discuss this use case with the team.
Meanwhile, are all vms in the same container (cluster/resource_pool/folder/datastore/folder)? Do you organize them in any ways? If so, then probably you can iterate the container and then list vms in each container?

[2019-03-22 14:03] klainn commented on #141
This led me down the right path. My end product is a little different but I think it'll work for what I need.

Thanks much.

[2019-03-22 14:03] #141 closed

[2019-03-22 14:20] klainn commented on #142
They are sorted by Datacenter, then folders. The one datacenter I'm struggling with has 7300 vms on it and I can't find a filter that searches something that returns 1000 or fewer. In this particular datacenter, one folder has 5100 vms alone. Multiple clusters in that folder have more than 1000 vms, etc.

A esx host shouldn't have more than 1000 machines on it. That seems highly unlikely. I see th

[2019-03-22 14:44] Sad-polar-bear opened #143 "How to assign static ip to power off vm?"
How can I use the sdk to assign static ip to vm.Thanks

[2019-03-22 14:59] klainn commented on #142
Ok, so maybe not.

My end goal is to produce a simple list that will update a table that has 2 columns, cluster_name, virtual_machine_name.

I can get all the vms by querying all the hosts. But I'm struggling to get the cluster the vm is on using your code from above, I still have to search clusters with more than 1000 machines and I get the original error.

This is the code I'm using. It feels li

[2019-03-22 15:46] tianhao64 commented on #142
How about iterate clusters and then hosts inside each cluster?
[code]

[2019-03-22 16:04] klainn commented on #142
Yeah that seems solid. The result count is a little different but maybe not a big deal. Very cool.

[2019-03-24 14:02] tianhao64 commented on #136
@Akasurde
Update works if you replace update_spec.setDescription with update_spec.description.
The setDescription method is confusing and shouldn't be there. I will check why it is generated.

[2019-03-26 21:51] surfer190 commented on #38
Ok. The generated code can be added then (not the generator).
I feel like the first step mentioned about the `setup.py` can be implemented...I will try it out and maybe send a pull request.

[2019-03-28 12:38] andrewscott0 opened #144 "How to manage snapshots of the VMs?"
How do I do snapshot related operations on a VM? Say I want to capture snapshots or revert back to a snapshot, how can I do that? I've tried searching this on the
[vsphere automation sdk for python docs](https://vmware.github.io/vsphere-automation-sdk-python/vsphere/6.7.1) but it doesn't seem to have any information related to this.

Thanks.

[2019-04-03 09:51] houcinedz commented on #99
can you explain to me how i can do that !!

[2019-04-18 17:40] JamesHuangUC opened #147 "How to get disk, memory usage of each vm"
- [x] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [ ] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [x] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://github.

[2019-04-19 13:27] tianhao64 commented on #147
@JamesHuangUC vsphere_client.vcenter.VM.get('vm_id') gives below info:

vc_client.vcenter.VM.get('vm-71')
Info(guest_os=GuestOS(string='WINDOWS_9_64'), name='Sample_Exhaustive_VM_for_Simple_Testbed', power_state=State(string='POWERED_OFF'), hardware=Info(version=Version(string='VMX_11'), upgrade_policy=UpgradePolicy(string='NEVER'), upgrade_version=None, upgrade_status=UpgradeStatus(string='NONE')

[2019-04-19 16:32] JamesHuangUC commented on #147
👍 thank you so much!

[2019-04-19 17:10] JamesHuangUC commented on #147
Hi @tianhao64 I can see `VM.get` can return me a bunch of useful information, but is it possible also return me how many memory is active and how many disk space is used?

[2019-04-23 07:53] tianhao64 commented on #147
@JamesHuangUC guest runtime info is not support in this sdk yet. Please use pyvmomi for now.

[2019-04-23 16:58] JamesHuangUC commented on #147
Thank you @tianhao64, I will take a look at it.

[2019-04-23 16:58] #147 closed

[2019-04-24 07:28] cormite commented on #91
If you run into a problem like this:

<pre>Cannot uninstall 'certifi'.
It is a distutils installed project and thus we cannot accurately determine
which files belong to it which would lead to only a partial uninstall.</pre>
It happened to me when running the pip install command with an active conda 3.6.8 environment. You could all --ignore-installed like so to solve it:

<pre>
$ git clone https://

[2019-05-05 05:43] chaojidaxingxin opened #149 "create_vsphere_client error!"
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\minchaol\anaconda\lib\site-packages\vmware\vapi\vsphere\client.py", line 170, in create_vsphere_client
    hok_token=hok_token, private_key=private_key)
  File "C:\Users\minchaol\anaconda\lib\site-packages\vmware\vapi\vsphere\client.py", line 111, in __init__
    session_id = session_svc.create()
  File "C:\U

[2019-05-06 04:49] tianhao64 commented on #149
@chaojidaxingxin is this an ESX host, or vCenter?

[2019-05-06 04:50] tianhao64 commented on #149
create_vsphere_client expects a vCenter IP or hostname.

[2019-05-06 05:16] chaojidaxingxin commented on #149
Yes! I ignore of that. Thanks!

[2019-05-06 05:18] #149 closed

[2019-05-15 18:49] mo175 commented on #38
If this code could be published to pypi it would really simplify the setup for many people, we have scripts which set up our current python environment for newcomers to the team and adding this to the requirements.txt would really make life easy.

[2019-05-22 13:34] CoderFei opened #152 "Could you please give me an example of VmtxLibraryItem.HardwareCustomizationSpec?"
samples/vsphere/contentlibrary/vmtemplate/deploy_vm_template.py
I use this sample to create vm and it can succeed.
I want to pass 'HardwareCustomizationSpec' to create a VM with a nic.
My code is like this
[code]

The result

Library item ID: f5e65730-a070-47e4-80d4-114a6752afe3
Detected folder 'Test' as group-v189
Selecting ResourcePool 'resgroup-190'
Datastore MoId: datastore-23
Traceback (most

[2019-05-22 13:37] CoderFei commented on #152
# Build the deployment specification
        placement_spec = VmtxLibraryItem.DeployPlacementSpec(
            folder=folder_id,
            resource_pool=resource_pool_id)
        vm_home_storage_spec = VmtxLibraryItem.DeploySpecVmHomeStorage(
            datastore=datastore_id)
        disk_storage_spec = VmtxLibraryItem.DeploySpecDiskStorage(
            datastore=datastore_id)
        nics = {

[2019-05-23 06:17] CoderFei commented on #152
Maybe I missed the point in SDK doc.
Does HardwareCustomizationSpec only support to update the existing Ethernet adapters in the source virtual machine template when deploying a new virtual machine?
New ethernet adapter can only be added to an existing virtual machine.
Is my understanding right?
@tianhao64

[2019-05-31 01:39] #152 closed

[2019-05-31 17:37] klainn opened #156 "Finding cluster metadata information (cores, ram, etc)."
- [X] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [X] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [X] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://github.

[2019-06-02 15:23] hypemedia opened #157 "Unable to install on OS X"
## Environment
- sdk package version:
The sdk version is the latest from GIT:
[code]
[code]

- python version:
`
Python 2.7.16

`

- vSphere version: 6.5

- Operating System/Shell (used to run SDK-based apps):
`OSX 10.14.5`

## Steps or code snippet to reproduce
[code]

## Actual behavior
Error:
[code]

## Expected behavior
Install the SDK

[2019-06-03 03:01] tianhao64 commented on #157
Please try below on mac:

pip install --upgrade --force-reinstall -r requirements.txt --extra-index-url file://$PWD/lib

[2019-06-03 03:01] #157 closed

[2019-06-03 16:35] hypemedia commented on #157
It is working thanks

[2019-06-04 14:12] tianhao64 commented on #156
@klainn, thanks for the feedback. I have forward this to our PM for prioritization.

[2019-06-09 19:29] mariolenz commented on #38
Yes, that would definitely be a good thing :-)

But in the long run, I think it should be on PyPi.

[2019-06-10 21:41] tahamian opened #160 "VM Power On"
- [ ] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [ ] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [ ] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://github.

[2019-06-11 05:14] tianhao64 commented on #160
@tahamian Can you elaborate what's the issue and what is the expectation?

[2019-06-11 15:13] tahamian commented on #160
oh, I was just thinking if we use
[code]
and create a connection, we can use the client  connection to power on the VM, but if we use

[code]

and try and create a stub config, there is way to power on the VM,

from guest_client.py

[code]
its just kind of inconsistent, shouldnt we be able to power on VM using the both methods of connection?
Thats all i was trying to point out

[2019-06-11 15:18] tahamian commented on #160
sorry this i realized what I was trying to do, I was trying to use the stub configuration for Power,
[code]
and after looking at the api documentation, there is no way to power on the VM, but that is not the case if we use
[code]

we are able to power on the VM, thought it might have been an inconsistency, but the api does not allow to power on vm.

Thanks

[2019-06-11 15:19] #160 closed

[2019-06-11 15:53] hrupprecht commented on #38
A simple setup.py would really be helpful.

[2019-06-12 14:04] tianhao64 commented on #38
I am not sure the current install process can be simplified by a setup.py. AFAIK, setup.py doesn't support dependency wheels that are not on pypi. The dependency_links option only support egg files.

The SDK bindings files depend on runtime and unfortunately we are not ready to open source runtime at this point.

[2019-06-13 14:07] khnazaretyan commented on #38
In setup.py `install_requires` section it's allowed to specify urls using `@`. I've tested it in my fork and it seems to be working.

https://github.com/khnazaretyan/vsphere-automation-sdk-python/blob/feat-pip_setup/setup.py

Tested with
[code]

If the implementation looks ok, please let me know who should be mentioned as "Author" for the package and PR will follow.

[2019-06-13 18:41] xjanechen opened #161 "Is there anyway you can create package for pip install to use directly"
- [x] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [x] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [x] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://github.

[2019-06-14 08:15] tianhao64 commented on #38
@khnazaretyan This looks promising. It'd be great if it works. Could you post your test result? I try to test it locally, but it failed with:
No local packages or working download links found for nsx-vmc-aws-integration-python-sdk@ https://github.com/vmware/vsphere-automation-sdk-python/raw/master/lib/nsx-vmc-aws-integration-python-sdk/nsx_vmc_aws_integration_python_sdk-2.3.0.0.3.13851140-py2.py3-

[2019-06-14 10:16] khnazaretyan commented on #38
@tianhao64 Thanks for your feedback. I have tested in CentOS container separately on python 2 and 3 environments. It's green field test, in case some old preinstalled packages exist `--upgrade` flag might help. Please find below the steps how it was tested:

_For python2 environment `setuptools` must be upgraded_ (at least for this container).

# Python 2 Test
[code]

## Output
[code]

# Python 3

[2019-06-14 12:34] khnazaretyan commented on #161
Hi, I guess this issue overlaps with #38 which is in discussion at this moment.

[2019-06-14 14:30] tianhao64 commented on #38
@khnazaretyan Appreciated for the detailed info and testing. This looks good! We would like to do more testing on different OS and python versions to validate this before merging the PR.

[2019-06-14 19:41] mariolenz commented on #38
`docker run -it --rm photon`
Photon with Python 2:
[code]
Photon with Python 3:
[code]

[2019-06-17 09:56] Imranatnisum opened #162 "How to get vCenter appliance (VCSA) disk usage by pyvmomi for Vcenter 6.0 or 6.5 or 6.7. Is there is way we can do this in Vcenter 6.0"
## Environment

- python version:
3.7
- vSphere version:
6.0, 6.5 and 6.7
- Operating System/Shell (used to run SDK-based apps):
Mac os

[2019-06-17 11:19] Imranatnisum opened #163 "Datastore Over Provisioning"
Do we have some way to get Datastore Over Provisioning

python version:
3.7
vSphere version:
6.0, 6.5 and 6.7
Operating System/Shell (used to run SDK-based apps):
Mac os

[2019-06-17 12:49] khnazaretyan commented on #38
Tested on Mac OS X. Test results in python 2/3 virtual environments
[code]
## Python 2 venv
[code]

## Python 3 venv

[code]

[2019-06-18 21:52] khnazaretyan commented on #38
Tested on Windows 10.
Requires git and Python2/3 for windows to be installed.

## Python 2 (2.7.16)
[code]

## Python 3 (3.7.3)
[code]

[2019-06-19 09:42] tianhao64 commented on #38
@khnazaretyan Really appreciate your effort. We have also tested on Windows 10, ubuntu and Mac. I think we are ready take the change at this point. Could you please create a PR? Please use below values for version, description and author instead in setup.py? Other values in your fork look good. Thank you!

version='1.0.0',
description='VMware vSphere Automation SDK for Python',
author='VMware, Inc

[2019-06-19 19:33] xjanechen commented on #161
It works like a charm. Thanks.

[2019-06-19 19:33] #161 closed

[2019-06-25 01:55] tianhao64 commented on #132
Close this for now. @abshelto Please reopen is the issue still exists.

[2019-06-25 01:55] #132 closed

[2019-07-05 02:46] shuaibo521 opened #167 "Quest:How to get hardwareHealthStatus?"
- [x] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [x] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [x] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://github.

[2019-07-05 05:13] shuaibo521 commented on #167
[code]

[2019-07-05 05:13] #167 closed

[2019-07-11 19:23] xeacott opened #168 "Serialize vSphereClient method"
- [x] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [x] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [x] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://github.

[2019-07-15 15:09] #168 closed

[2019-07-22 18:31] khayamgondal commented on #122
@tianhao64 is it still open? I can work on it if I can get some guidance.

[2019-07-23 01:06] ofek commented on #38
@tianhao64 Actually, you may indeed publish non-open source code on PyPI depending on what you mean. More information here: https://wiki.python.org/moin/Asking%20for%20Help/How%20do%20you%20protect%20Python%20source%20code%3F

Please let me know if you need help with getting this great SDK on PyPI 😄

[2019-07-23 08:08] yishaihl opened #172 "Problem with samples.vsphere.common.sample_cli"
Hey guys,
i'm using mac with Pycharm, Python ver. 3.7.3.
installed all requirements:
**Ignoring suds: markers 'python_version < "3"' don't match your environment**
Requirement already satisfied: lxml>=4.3.0 in /Users/yishaihl/PycharmProjects/vSphere_Automation/venv/lib/python3.7/site-packages (from -r requirements.txt (line 1)) (4.3.4)
Requirement already satisfied: pyVmomi>=6.7 in /Users/yishaihl

[2019-07-23 19:24] mariolenz commented on #38
IANAL, but do you really have to open source the generator before you can open source the generated code?

This GitHub repository seems to be under [The MIT License](https://github.com/vmware/vsphere-automation-sdk-python/blob/fb7b0f53cc690d844e14afd88b518a20ed6be438/LICENSE). I don't understand why you think it's OK to do this on GitHub but not on PyPI.

[2019-07-25 11:28] norikuro opened #173 "Problem in account_link_client.py"
When I tried sddc_crud.py to create sddc with python2.7 or python3, I got following error.
This seems something wrong in account_link_client.py.

 Example: Create a SDDC (sddc-single-nk) in org xxxxx-org-id-xxxx:
Traceback (most recent call last):
  File "samples/vmc/sddc/sddc_crud.py", line 227, in <module>
    main()
  File "samples/vmc/sddc/sddc_crud.py", line 219, in main
    sddc_operations.c

[2019-07-25 11:34] norikuro commented on #173
I tried orgs.account_link.ConnectedAccounts in my python scripts, I got same error.
vmc_client.orgs.account_link.ConnectedAccounts.get("xxx-org-id-xxxxx")

[2019-07-25 12:50] kunal-pmj commented on #173
Hi @norikuro

We are working on this issue.

thanks
Kunal

[2019-07-28 07:42] yishaihl commented on #172
?

[2019-07-29 08:48] allenLew1991 opened #174 "com.vmware.vapi.std.errors_client.OperationNotFound"
com.vmware.vapi.std.errors_client.OperationNotFound: {messages : [LocalizableMessage(id='vapi.method.input.invalid.interface', default_message="Cannot find service 'com.vmware.vcenter.VM'.", args=['com.vmware.vcenter.VM'], params=None, localized=None)], data : None, error_type : None}

- [x] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [ ]

[2019-07-29 09:20] allenLew1991 commented on #174
This sdk is not compatible with my vCenter version 6.0

[2019-07-29 09:20] #174 closed

[2019-07-30 15:16] xeacott commented on #172
I also noticed this between version 1.0.0 and 1.3.0. Try installing 1.0.0 and see if the issue still persists, and then maybe check what changed between versions

[2019-07-30 15:18] xeacott commented on #38
Was this solved? I just recently ran into this issue when trying to install using pip-compile

[2019-07-30 15:19] yishaihl commented on #172
1.0.0 version for?

[2019-07-30 15:54] xeacott commented on #38
Recently I tried installing just the packages uploaded to pypi, but I believe there may be an issue with them. Is it possible for the owner/maintainer to re-upload these? Links exist for them, but i receive an error that `vapi_runtime>=2.5.0` doesn't point to anything. Pip is unable to find it.
- vapi-client-bindings
- vapi-runtime
- vapi-common-client
- vapi-client-bindings

[2019-07-30 16:34] xeacott commented on #172
For the vSphere Automation SDK. Version 1.0.0 had no import issues when importing from the package itself, however in 1.3.0 I noticed importing from samples was problematic.

[2019-07-31 07:05] tianhao64 commented on #172
@yishaihl @xeacott Have you added the folder contains these util methods to python path?
https://github.com/vmware/vsphere-automation-sdk-python#first-set-pythonpath-to-use-sdk-helper-methods

[2019-07-31 07:07] tianhao64 commented on #163
@Imranatnisum Could you please clarify your question? Are you asking about a specific API usage?

[2019-07-31 07:14] yishaihl commented on #172
youu mean the export PYTHONPATH=${PWD}:$PYTHONPATH ?..

[2019-07-31 07:14] tianhao64 commented on #162
@Imranatnisum You want to query vm disk usage? or datastore usage in vCenter? Please provide more info about what you need.

[2019-07-31 07:28] yishaihl commented on #172
@tianhao64  you mean the export PYTHONPATH=${PWD}:$PYTHONPATH ?..

[2019-07-31 07:38] yishaihl commented on #172
just to clarify, im using the latest  vSphere-Automation-SDK-1.3.0 and Python 3.7 interperter.

[2019-07-31 08:27] khnazaretyan commented on #38
@xeacott Thanks for your feedback. Yes it was solved, you can test it by running `pip install git+https://github.com/vmware/vsphere-automation-sdk-python.git`. You can also reproduce it using the following code snippet. Setup in this package requires packages (wheels) local to this repository. I suppose `pip-compile` is not parsing that part correctly.
[code]

[2019-07-31 09:46] khnazaretyan commented on #38
The upload to PyPI will fail as it does not accept direct dependencies in setup.py, which is the case in this repository. So AFAI understand, unless we don't have the following packages (wheels) separately in PyPI, using `pip install git+https://github.com/vmware/vsphere-automation-sdk-python.git` is the working method and it can also be added to `requirements.txt`.
[code]
@tianhao64 Do you think

[2019-07-31 15:44] xeacott commented on #38
@khnazaretyan Thank you for getting back with me. Yes, and installing locally on my own machine using `pip install git+ ...` works just fine, and that was my primary method of installing. For the software I am working with, we use `pre-commit` to build our requirements for each platform against a .in file for each platform. This is where our trouble is, because we cannot tell `pip-compile` so easi

[2019-07-31 22:02] xeacott commented on #172
No, but I can do that and report back...

[2019-08-01 07:31] yishaihl commented on #172
@xeacott hey, you understood waht it means to add the util methods to the Python path?

[2019-08-05 09:23] jake2184 opened #176 "Feature to interact with existing Host Groups/Host DRS Rules."
- [X] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [X] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [X] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://github.

[2019-08-06 17:46] xeacott commented on #38
@tianhao64 if you have any input on this, i'd greatly appreciate it :+1:

[2019-08-19 14:45] xeacott commented on #38
Hi @tianhao64 just a friendly ping

[2019-09-03 17:01] xeacott commented on #38
Hey @khnazaretyan wanted to ping once more to see if discussion on this happened elsewhere.

[2019-09-04 15:51] tianhao64 commented on #38
Hi @xeacott Sorry for the slow response. I was occupied with some other tasks recently.
I have done some research and studied the company open source policies. It seems it should be OK to push these bindings directly to pypi. We will prioritize this task.

[2019-09-04 16:08] xeacott commented on #38
That is no problem. I am just excited this is possible on your end and having a response is good news, thanks!

[2019-09-04 17:04] JimCircadian opened #182 "VMDK issues with creating VM"
- [x] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [x] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [x] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://github.

[2019-09-05 19:01] mo175 commented on #38
Fantastic news!  The package will see a ton more usage as a direct result of this!

[2019-09-06 19:21] JimCircadian commented on #182
It turns out using GuestOS.CENTOS or GuestOS.RHEL-7 works fine. I guess this is the based on the host version?

Though the disk also ended up being thin provisioned, I'd be interested to understand whether it's a missing feature of the REST API to specify the provisioning type?

Thanks in advance.

[2019-09-06 19:40] rapgro opened #184 "Wrong version"
There's a current release tagged as version 6.8.7 and setup.py has 1.4.0, why?

https://github.com/vmware/vsphere-automation-sdk-python/blob/c30a34cd36d261b343a487c47c64a8573ac70a79/setup.py#L8

[2019-09-09 15:50] tianhao64 commented on #184
Hi @rapgro, yes you are right, there is a version mismatch here. The short answer is that we will try to fix this issue when we push bindings out to pypi.

The reason we are having this issue is that originally the python sdk repo only hosted vSphere bindings so we used the vsphere binding version as the sdk version, which was a mistake as vSphere version (6.x.x) doesn't not follow the semantic ve

[2019-09-09 15:50] #184 closed

[2019-09-09 18:07] jlgc96 opened #185 "Is it possible to serialize custom SDK objects to JSON format?"
Hey,

I'm actually working on developing and API for managing cloud Infrastructures by using Django and this SDK. I have no problem connecting to my vCenter and retrieving data, but I'm not capable of serializing  the objects received by the methods and convert them to JSON format:
[code]

In this example, the json function returns me an error like this:
`Object of type "Summary" is not serializab

[2019-09-10 21:32] abhiraut opened #186 "support newer versions for requests and pyOpenSSL"
Can we update requirements for vapi-runtime to support newer requests and pyOpenSSL versions. Perhaps update it to be requests >=2.6.0 and pyOpenSSL >=0.15.1

[2019-09-11 17:38] tgelter commented on #76
I'm also seeing this issue when testing the sample code found here: https://github.com/vmware/pyvmomi-community-samples/issues/247
To work around the issue, I'm decorating my method with https://github.com/jd/tenacity

[2019-09-11 20:16] dwoz commented on #38
Do you have any ETA on this?

[2019-09-12 02:20] Rajeev244 commented on #115
Getting the below error while installing virtualenv

C:\Users\Kishor4\Documents\GitHub\vsphere-automation-sdk-python>python.exe -m pip install virtualenvs
Collecting virtualenvs
  WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x000001E28212FE48

[2019-09-13 08:28] jlgc96 commented on #185
I was able to do it with your solution, by modifying some parts of the code. This could be a minimal working example of how to get extended information of all vms:

[code]

[2019-09-13 08:29] #185 closed

[2019-09-13 15:20] rapgro commented on #184
Ok, thanks for the explanation. I don't know then what version to use for an official package review in Fedora, as well for EPEL7 (addon repository for RHEL7 or CentOS7).

[2019-09-14 11:59] Rajeev244 commented on #91
@tianhao64  sir i have already installed all the packages mentioned in the requirement.txt file but still i am getting the error "Module not found".Here is the complete

[2019-09-16 02:13] anusha94 commented on #91
@Rajeev244
have you set the PYTHONPATH as mentioned here? - [set PYTHONPATH](https://github.com/vmware/vsphere-automation-sdk-python#first-set-pythonpath-to-use-sdk-helper-methods)

[2019-09-16 09:30] tianhao64 commented on #186
The vapi runtime package you are referring is an old one. Please stop using it. It's not uploaded by vmware and it's not supported.
The dependencies versions are the min working versions. You are free to update individual packages yourself. If we require latest dependencies, it may conflicts with other libraries in your same virtual env.

[2019-09-16 09:30] #186 closed

[2019-09-16 09:57] tianhao64 commented on #173
This issue is now fixed.

[2019-09-16 09:57] #173 closed

[2019-09-16 10:06] tianhao64 commented on #172
@xeacott @yishaihl Is it working after adding the sdk root folder to PYTHONPATH?
There are some helper methods in samples folder which are not installed in the python's site-package folder. So to use them you have to add the sdk root folder to PYTHONPATH.
Closing this for now. Please let me know if you still have issue with these imports

[2019-09-16 10:06] #172 closed

[2019-09-16 10:08] tianhao64 commented on #162
Closing due to lack of info. It also seems to be a pyvmomi question

[2019-09-16 10:08] #162 closed

[2019-09-16 19:30] Rajeev244 commented on #91
@anusha94 .Thanks for your response ,the issue got resolved .

[2019-09-25 10:22] gamename opened #192 "Why is it a minimum of 3 hosts for VMC SDDCs?"
- [x] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [x] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [x] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://github.

[2019-09-25 18:30] jmh666 commented on #192
[seems relevant](https://docs.vmware.com/en/VMware-Cloud-on-AWS/services/com.vmware.vmc-aws-operations/GUID-10A0804B-04F4-4B8A-9EBA-85169F533223.html), but still arbitrary

[2019-09-26 14:15] tianhao64 commented on #192
@gamename You should be able to create a one node SDDC for evaluation if you pass sddc_type parameter with value '1NODE'.

[2019-09-27 09:34] gamename commented on #192
@tianhao64  Thanks! That worked.

[2019-09-27 09:34] #192 closed

[2019-09-29 13:34] abessifi commented on #144
@tianhao64 any feedback on this please ?

[2019-10-08 19:18] khnazaretyan commented on #38
@tianhao64 Hi, many thanks for your efforts. I see some of the packages (vapi-runtime, vapi-client-binding, vapi-common-client) are available in PyPI, but the version is very old (2.5.0 -> Nov 28, 2017). Is this task ongoing?
I'll submit a PR with updates in requiremets.txt as soon as the packages are available in PyPI.

[2019-10-10 01:56] kevink2017CB opened #194 "ERROR: Could not find a version that satisfies the requirement vmc-client-bindings (from -r requirements.txt (line 6)) (from versions: none)"
i have try pip install --upgrade --force-reinstall -r requirements.txt --extra-index-url file://$PWD/lib，but still  ERROR: Could not find a version that satisfies the requirement vmc-client-bindings (from -r requirements.txt (line 6)) (from versions: none).the content of requirements.txt is "lxml >= 4.3.0
pyVmomi >= 6.7
suds ; python_version < '3'
suds-jurko ; python_version >= '3.0'
vapi-client-b

[2019-10-23 15:45] xeacott commented on #38
Yeah @khnazaretyan that's exactly what I was looking for (to be able to install the other packages that you mentioned). Glad you guys are doing this!

[2019-10-23 17:10] rfalias commented on #144
Curious about this as well...
Surprising the automation sdk doesn't have snapshot capabilities. Is this a feature request or already in progress?

[2019-10-28 08:47] khnazaretyan commented on #38
@xeacott Thanks for your feedback. I'm neither maintainer nor the board member of this repository, so I contribute as much as I can. Let's wait for feedback from @tianhao64.

[2019-11-04 10:36] sosher opened #195 "While installing as per instructions, getting url error for nsx-policy-python-sdk"
Hi Team, Getting a url error when trying to install the sdk ,
Thank you very much

## Environment
- sdk package version: trying to install per instructions,

pyvmomi (6.7.3)
service-identity (16.0.0)

- python version:
python 3.6.8
- vSphere version:
6.7 u3
- Operating System/Shell (used to run SDK-based apps):
ubuntu 18.04

## Steps or code snippet to reproduce
pip3 install --upgrade git+https://

[2019-11-04 18:00] mariolenz commented on #38
@tianhao64 Any progress on this issue? I really think having this package on PyPi will boost its adoption.

[2019-11-13 20:28] akulbe commented on #195
Same here.

[2019-11-20 16:30] alecorps opened #197 "dns servers update on vCenter failed"
Hello guys,

When we try to update dns servers on a vcsa 6.7 appliance, we got an issue.
Following the code we used :

[code]

Do you have the same issue or am I missing something?

[2019-11-23 20:53] NurPech commented on #195
same here.

Does anyone have a solution?

[2019-11-28 23:24] pabelanger commented on #38
Greetings! I'm coming from the ansible project, where we are testing vmware modules for ansible. This is a direct dependency for our testing framework, and would like to help get this published to pypi. If there is something I can do, or look to see where blockers are. I'd very much like to help.

[2019-11-29 10:07] jobingeo commented on #195
Looks like the pip3 is looking https://pypi.org/simple for installing package "nsx_policy_python_sdk", instead of local repo /lib directory

[2019-11-29 20:55] NurPech commented on #195
pip is doing so also:

`pip install --upgrade git+https://github.com/vmware/vsphere-automation-sdk-python.git
Collecting git+https://github.com/vmware/vsphere-automation-sdk-python.git
  Cloning https://github.com/vmware/vsphere-automation-sdk-python.git to /tmp/pip-zdCZH8-build
Collecting lxml>=4.3.0 (from vSphere-Automation-SDK==1.15.0)
  Using cached https://files.pythonhosted.org/packages/25/7

[2019-11-30 21:51] patschi commented on #195
I'm able to reproduce that with python3 too:
[code]

[2019-12-03 13:27] jobingeo commented on #195
Can you upgrade your pip3 to the latest and try?
This is working in my MAC OS and Ubuntu 16.0.4 setup, where pip version is 19.3.1

I suspect this could be because of https://github.com/pypa/pip/pull/6367 , related to https://github.com/pypa/pip/issues/6428 . These are fixed in pip 19.1+.

[2019-12-03 15:52] pgbidkar commented on #197
Hi @alecorps , Checking this, will try to reproduce and update you soon.
Thanks

[2019-12-03 17:00] jobingeo commented on #195
I reproduced this issue in Ubuntu 18.04 LTS, with default pip version of 9.0.1.
Upgraded pip to the latest, `pip3 install --upgrade pip`
And new pip version is 19.3.1.

`pip install --upgrade git+https://github.com/vmware/vsphere-automation-sdk-python.git` is working as expected

Make sure, the packages `requests>=2.21.0, six>=1.12 ` for the successful installation of vapi-runtime 2.12.0

[2019-12-04 03:39] jobingeo commented on #194
What is your pip version?

[2019-12-04 12:06] bpg168 commented on #101
list_attached_objects_on_tags(tag_ids)
This method returns the list of attached object identifiers.
How do we find the names of VirtualMachines from object identifiers.
Please share the link to documentation or share an example.

[2019-12-05 11:48] sosher commented on #195
I can confirm that upgrading pip solves the problem. I am not sure how helpful this will be for other people as a solution.. BTW it is not restricted to Ubuntu.. the same issue surfaced on arch as well.

[2019-12-05 12:08] Akasurde opened #198 "RecursionError when user does not specify certificates"
- [x] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [X] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [x] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://github.

[2019-12-05 13:31] pgbidkar commented on #198
Hi @Akasurde , Thanks for reporting this.
I see different error
[code]
Error Stack has the info **certificate verify failed**. Are you looking for more descriptive error from library than this big Error stack?
Thanks

[2019-12-05 14:11] jobingeo commented on #195
Thanks for confirming. Closing the issue

[2019-12-05 14:11] #195 closed

[2019-12-05 14:36] jobingeo commented on #182
The REST API vmdk create spec doesn't support desired provisioning like  LAZY, THICK, THIN etc.

Only few config is supported in vmdk create spec (which you already covered as in your code snippet),
https://vmware.github.io/vsphere-automation-sdk-python/vsphere/cloud/com.vmware.vcenter.vm.html#com.vmware.vcenter.vm.hardware_client.Disk.VmdkCreateSpec

[2019-12-05 15:59] Akasurde commented on #198
Stack trace is OK. I am concerned about the last part, where it mentions the recursion error.

[code]

[2019-12-06 04:54] pgbidkar commented on #198
Hi @Akasurde , '**maximum recursion depth exceeded while calling a Python object'** This message is not present in the error stack I have pasted here https://github.com/vmware/vsphere-automation-sdk-python/issues/198#issuecomment-562129460

Please can you try upgrading your requests package?
Thanks

[2019-12-06 07:23] jobingeo commented on #176
Do you mean , moving this VM to a host group (Cluster). If so, this is not currently supported in this SDK bindings.
And this may be supported in future releases. Whenever available, we can provide sample code.

[2019-12-06 09:24] jake2184 commented on #176
Ok, thansk for the answer. I am trying to use this as a cross-platform replacement for powershell my team to be able to deploy new VMs. Is there an expectation or a timeframe for this SDK to wrap 'most' features in the VMWare API?

[2019-12-10 10:24] pgbidkar commented on #197
Hi @alecorps ,
Please can you try upgrading SDK packages? I am not seeing the error reported.

Please share what is the SDK version installed?

Thanks,
Pavan

[2019-12-11 17:00] gregorydulin commented on #194
I just got this error too.
[code]

[2019-12-11 17:16] gregorydulin commented on #194
Might be related to https://github.com/vmware/vsphere-automation-sdk-python/issues/195.  My pip is old...  I'm seeing if I can use an upgraded pip.

[2019-12-11 17:40] gregorydulin commented on #194
Upgrading pip resolved this issue for me.

I also specified the current latest tag, vs. whatever git defaults to:
[code]

[2019-12-12 03:32] jobingeo commented on #194
Look like this issue is related to  https://github.com/vmware/vsphere-automation-sdk-python/issues/195 , as pip upgrade resolved the issue. Thanks @gregorydulin

Specifying tag is not necessary, unless you need any specific SDK release (tags)

[2019-12-12 03:32] #194 closed

[2019-12-18 09:09] wolfgang1219 opened #199 "com.vmware.vapi.std.errors_client.OperationNotFound"
- [x] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [x] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [x] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://github.

[2019-12-18 09:14] pgbidkar commented on #199
Hi @wolfgang1219 , vsphere_client.vcenter.VM.list() call is supported from vSphere 6.5+. not supported in vSphere 6.0.

Thanks

[2019-12-18 10:58] #199 closed

[2019-12-19 20:06] JosephHobbs opened #200 "setup.py version number != release version"
While installing the SDK for Python I noticed that the 'release' version here (v6.9.1) does not match the version reported via pip (1.5.0).  Is this intentional?

[code]

contents of setup.py within tag v6.9.1.

[code]

Should these versions be kept in sync?

Thanks!

[2020-01-02 18:55] mariolenz commented on #38
@jobingeo

https://pypi.org/project/vapi-runtime/, https://pypi.org/project/vapi-common-client/ and https://pypi.org/project/vapi-client-bindings/ have been deleted ([PyPI issue 105](https://github.com/pypa/pypi-support/issues/105)) and you're free to re-use them. Do you have an ETA for publishing this SDK on PyPI?

[2020-01-07 14:49] stobias123 opened #201 "Why no pip package?"
Working behind a proxy right now, trying to get this installed is a nightmare. Why not just publish pip packages for packages in this repo?

## Expected behavior
[code]
## Actual Behavior
Lots of proxy issues with git, local installation dependencies via `--extra-index-url` flag

[2020-01-08 13:28] VictorGardi commented on #38
@jobingeo  Any progress on publishing this SDK on PyPI? Does anyone know if the deleted packages are available somewhere?

[2020-01-08 16:15] jobingeo commented on #38
We have initiated the process . Currently there is no ETA.

[2020-01-08 18:24] mariolenz commented on #201
This looks like a duplicate of #38.

[2020-01-09 04:44] jobingeo commented on #201
Right. This is duplicate of https://github.com/vmware/vsphere-automation-sdk-python/issues/38

We are looking into this.
We need to have clearance for dependent packages before publishing to PyPi.
Currently there is no ETA, which we can provide now

[2020-01-09 04:44] #201 closed

[2020-01-15 10:08] wainaxman commented on #38
My customer needs to get this from pypi, it's the corporate policy and we have build our pipeline around it. This is awesome work you guys are doing. We'd greatly appreciate to get this asap.

[2020-01-21 19:24] bostonmacosx opened #203 "Unable to filter hosts based on datacenter name.."
- [X ] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
vSphere-Automation-SDK             1.18.0
pyvmomi                            6.7.3

- [ ] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [X ] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk

[2020-02-07 23:35] rchadalawada commented on #198
@Akasurde, have you tried @pgbidkar's suggestion? Any update?

[2020-02-07 23:38] rchadalawada commented on #163
Closing as there has been no update from filer in 6 months.

[2020-02-07 23:38] #163 closed

[2020-02-11 07:24] ngp-star commented on #203
Hi @bostonmacosx
error Host is not defined you are getting because of import error.

for this you need to import Host class form package like as follow.

from com.vmware.vcenter_client import (Folder, Host)

when we want to get hosts of particular datacenter.

there separate type for Host class we need use

Host.FilterSpec(datacenters=set(datacenters=set(["datacenterid"]))

as part set of argument

[2020-02-12 19:01] mariolenz commented on #38
@jobingeo @tianhao64

Any news? It looks like quite a lot of people are waiting for this SDK to be published on PyPI.

And, not to put too fine a point on it, some have been waiting for at least two years...

[2020-02-13 04:48] Akasurde commented on #198
@rchadalawada Yes, I have tried @pgbidkar solution but still facing the same error. We are also facing the same issue in our CI environment https://github.com/ansible/ansible/issues/66475.

[2020-02-14 14:19] anusha94 commented on #198
Hi @Akasurde

Thanks for pointing it out. The error was in a library file, I have fixed it, but it will be pushed out to github with the next release, some time in April.

With this fix, you will still get an error of `certificate verify failed` if there is no certificate present. I hope that is what you meant.

Thanks,
Anusha Hegde

[2020-02-17 05:33] pgbidkar opened #208 "Local installation of SDK fails to process the dependencies"
- [ x] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [x ] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [x ] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://gith

[2020-02-17 09:45] DevFinGovSecOps commented on #38
I would like to know too. I really want to use it for a few automation tasks. Ans judging from this issue there is quiet a lot of interest. Any update would be appreciated.

[2020-02-19 09:35] iamjhamukesh commented on #198
I am getting `com.vmware.vapi.std.errors_client.InternalServerError: {messages : [LocalizableMessage(id='vapi.bindings.method.impl.unexpected', default_message='Provider method implementation threw unexpected exception: null', args=['null'], params=None, localized=None)], data : None, error_type : None}` when I try to get `vsphere_client.vcenter.VM.list()`, can you tell why ?

[2020-02-19 10:46] anusha94 commented on #198
@iamjhamukesh

Can you provide your code snippet and environment details?
Also your error is not relevant to the current thread, please feel free to open a new issue and we can discuss there.

[2020-02-19 11:07] iamjhamukesh opened #209 "Error when trying to list all the vm's running."
- [Y] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [Y] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [Y] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://github.

[2020-02-19 11:09] iamjhamukesh commented on #198
@anusha94 Ya sure, I have added in the new issue. If you are free, can you please look into that. Thanks !

[2020-02-19 12:21] anusha94 commented on #209
I don't get the error with your code snippet.

Have you followed the installation steps correctly? https://github.com/vmware/vsphere-automation-sdk-python#installing-required-python-packages

[2020-02-19 12:28] iamjhamukesh commented on #209
Yep, I have configured things correctly. The issue seems to be in last line VM.list(). Because if I comment it, it works. I tried https://github.com/vmware/pyvmomi/blob/master/sample/getallvms.py this url and things worked. But not via current repo. Are both using same code base ?

[2020-02-19 12:32] anusha94 commented on #209
Try this? https://github.com/vmware/vsphere-automation-sdk-python/blob/master/samples/vsphere/vcenter/vm/list_vms.py

pyvmomi uses SOAP APIs whereas Automation SDK uses REST endpoints

[2020-02-19 12:36] iamjhamukesh commented on #209
Ya I had used this as well https://github.com/vmware/vsphere-automation-sdk-python/blob/master/samples/vsphere/vcenter/vm/list_vms.py list_of_vms = self.client.vcenter.VM.list() code was breaking on this function. But when I used list_of_vms = self.client.vcenter.VM.list, it returned some object. I thought of checking the vcenter_client.py but didn't do

[2020-02-19 12:53] anusha94 commented on #209
Can you try it in a new virtual environment? Not that what you have done is incorrect, just to make sure there are no conflicting versions.

[2020-02-19 13:04] iamjhamukesh commented on #209
Yes, I will do and update it. Most probably I can do this tomorrow.

[2020-02-19 13:41] iamjhamukesh commented on #209
Same error even when tried again in new venv

[code]

[2020-02-19 13:54] anusha94 commented on #209
what is your vsphere version?

[2020-02-19 14:14] iamjhamukesh commented on #209
6.7

[2020-02-20 10:14] anusha94 commented on #209
@ngp-star can you check if you can reproduce this issue?

[2020-02-20 10:52] anusha94 commented on #209
@iamjhamukesh
Do you have any other VC setup that you can try on? Have you by any chance modified any permissions?

[2020-02-20 10:58] iamjhamukesh commented on #209
No, I don't have access to other VC setups and I haven't modified any permissions. But pyVim and pyVmomi is working perfectly for me. Only vmware.vapi.vsphere.client isn't working for me .

[2020-02-21 07:32] vishalxebia opened #210 "Getting an error `ImportError: No module named vapi.vsphere.client` even if we install the library in anyways."
- [x] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [x] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [ ] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://github.

[2020-02-22 04:51] anusha94 commented on #210
@vishalxebia  Check your PYTHONPATH
Follow the instructions mentioned in https://github.com/vmware/vsphere-automation-sdk-python#first-set-pythonpath-to-use-sdk-helper-methods

If the error still persists, kindly provide your code snippet and environment details

[2020-02-24 07:11] ngp-star commented on #209
Hi @iamjhamukesh

 we tried with vc setup 67u1 version sample , its  working, able to list all vms.

[2020-02-24 10:15] anusha94 commented on #208
Here is the github issue explaining why python setup.py does/will not work - https://github.com/pypa/setuptools/issues/1983

I will provide alternate command to install the automation-sdk dependencies, however, the other dependencies and latest pip/setuptools version are a prerequisite

[2020-02-25 08:56] iamjhamukesh commented on #209
I am facing same issue:

[code]

[2020-03-03 14:51] HammerZ3it opened #211 "Error with your latest commit : 1e19006"
Hi everyone,

I think there might be an issue with your latest commit : 1e19006
I git clone this repository to build and virtualenv on my pipeline and it seems that when I do :

There is an error directly linked to this commit :

In fact there is nothing more than index.html in https://github.com/vmware/vsphere-automation-sdk-python/tree/master/lib/vmc-draas-client-bindings

It seems that this is

[2020-03-03 15:03] HammerZ3it commented on #211
This error made me improve our job and we are now cloning from tag instead of latest available version in git.
For those who wants to know how :
`git clone --branch 7.0.0.0 https://github.com/vmware/vsphere-automation-sdk-python.git`

If you want to do it on a specifiq commit instead of tag (which I would recommend) :
- Go on a the repo and get the commit id that you want :
`git log`
Top is the la

[2020-03-03 15:11] anusha94 commented on #211
Thanks for reporting this, looking at it.

[2020-03-05 05:36] anusha94 commented on #211
The faulty commit has been reverted. Closing this issue.

Thanks.

[2020-03-05 05:36] #211 closed

[2020-03-13 12:05] Akasurde commented on #198
For posterity -

The solution is [here](https://github.com/ansible-collections/vmware/issues/49#issuecomment-598687489)

[2020-03-13 12:05] #198 closed

[2020-03-18 11:52] imokyoureok commented on #209
I get the same error when trying to list VMs that are not assigned to a network and are therefore inaccessible. If I exclude the problematic VMs, then the API call works.

[2020-03-18 12:18] Jolin-blank opened #212 "how to set vm DiskProvisioningType"
- [x] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [x] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [ ] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://github.

[2020-03-19 07:16] dungla2011 opened #213 "How to get status progress of tasks (clone, deploy vm from template...)"
Hello,
I use vcenter 6.7
I deploy, clone vm from template ... by API  ( ... rest/com/vmware/vcenter/ovf/library-item/id:<...>?~action=deploy)

It run well, and create vm done after some minute
But how can I get status of this task (percent complete, success , failed ...) with sdk, api
Thank you!

[2020-03-19 10:44] anusha94 commented on #210
@vishalxebia
Have you tried the above solution? Does the error still persist?

[2020-03-19 10:57] anusha94 commented on #212
Refer to the `DiskProvisioningType` documentation [here](https://vmware.github.io/vsphere-automation-sdk-python/vsphere/6.7.1/com.vmware.vcenter.html#com.vmware.vcenter.ovf_client.DiskProvisioningType)

If you find any issues, please provide output along with code snippet.

Thanks!

[2020-03-19 11:25] vishalxebia commented on #210
@anusha94 The solution you suggested didn't solve but I upgraded my pip and setuptools, then installation using pip worked.

[2020-03-19 11:37] anusha94 commented on #210
Yes, that would be very necessary!
It is actually the [first step of the installation](https://github.com/vmware/vsphere-automation-sdk-python#installing-required-python-packages)

Glad it is working for you now. Closing this issue.

Thanks!

[2020-03-19 11:37] #210 closed

[2020-03-21 16:19] stobias123 commented on #38
2.5 years and no resolution. Crazy b/c this is a required package for the ansible inventory.

[2020-03-23 09:17] Jolin-blank opened #214 "AttributeError: 'StubFactory' object has no attribute '_invoke'"
- [x] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [x] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [ ] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://github.

[2020-03-23 10:02] anusha94 commented on #214
@Jolin-blank have you upgraded to latest `pip` and `setuptools`?
use `pip install --upgrade pip setuptools`

[2020-03-24 02:12] Jolin-blank commented on #212
create vm default setting  is   thin ,but i wanna setting  is   eagerZeroedThick  , how can i  change it

[2020-03-24 02:12] Jolin-blank commented on #212
create vm default setting is thin ,but i wanna setting is eagerZeroedThick , how can i change it

[2020-03-25 17:17] leoncozzi opened #215 "Cannot install python NSX-T SDK. I get No matching distribution found for vapi-runtime>=2.12.0"
- [ ] I am using the [latest SDK version](https://my.vmware.com/group/vmware/details?downloadGroup=NSX-T-250-SDK-PYTHON&productId=918
- [ ] I have searched [existing issues]

## Environment
- sdk package version:
nsx_python_sdk-2.5.0.0.0.14663996

- python version:
(venv) E:\Downloads>python --version
Python 3.8.2

- vSphere version:

6.7

- Operating System/Shell (used to run SDK-based apps):

Wi

[2020-03-25 17:42] anusha94 commented on #215
Along with the SDK runtime, you will need to have both the runtime support libraries. Have you downloaded all of it?

[code]

[2020-03-25 17:45] anusha94 commented on #209
@iamjhamukesh is @imokyoureok 's scenario possible cause of error in your case?

[2020-03-25 22:53] leoncozzi commented on #215
yes.  I  have similar errors on all of them. The only one that gets a bit further is the install of the runtime, but it still fails.

pip install vapi_runtime-2.12.0-py2.py3-none-any.whl

.....
 Using cached https://files.pythonhosted.org/packages/05/54/3324b0c46340c31b909fcec598696aaec7ddc8c18a63f2db352562d3354c/cffi-1.14.0.tar.gz
      Complete output from command python setup.py egg_info:

[2020-03-27 02:44] rahulyadav130 commented on #91
@Rajeev244 how this issue got resolved?

[2020-03-27 13:25] Rajeev244 commented on #91
@rahulyadav130 .Kindly set the path variable correctly and ten clone the repository.It should work.frankly speaking i did long back.Let me know if you still faces issue.

[2020-04-01 07:11] anusha94 commented on #213
Hi,
Please take a look at https://vmware.github.io/vsphere-automation-sdk-python/vsphere/6.7.1/com.vmware.cis.html#module-com.vmware.cis.task_client

[2020-04-01 07:20] vishalxebia opened #216 "When can we get pinned version of vsphere-automation-sdk-python library?"
Since I am using this library as a requirement but we have pinned version dependency project, since it's a URL package dependency so can't use it in my project. Are you guys planning to upload to PyPI so we can use it as a specific version of this library?

[2020-04-01 10:16] anusha94 commented on #216
Hi @vishalxebia

Here is a very long thread about pushing the package to PyPI #38
Until then if you want to pin to a certain version, could you try this https://github.com/vmware/vsphere-automation-sdk-python/issues/211#issuecomment-593996001 way?

Thanks,
Anusha Hegde

[2020-04-01 10:26] vishalxebia commented on #38
Any plan of putting this SDK on PyPi so we can get the pinned version of it and can be used under the projects.

[2020-04-01 13:31] vishalxebia commented on #216
@anusha94  The thread didn't help much. I am not sure why you guys can't publish this SDK even people are requesting since 2 yrs almost.

[2020-04-01 13:45] anusha94 commented on #216
@vishalxebia

Unfortunately, I don't have a definite answer to that right now. But we want to get there eventually.

In the meantime, try if this https://github.com/vmware/vsphere-automation-sdk-python/issues/211#issuecomment-593996001 works for you
You can pin to a release tag or commit.

[2020-04-01 13:54] vishalxebia commented on #216
No that doesn't work either. In my project, we need to really pin the version like `vsphere-automation-sdk==1.23.0` something like this which can be installed easily by `pip`. But l have to find another way. Thanks @anusha94 .

[2020-04-07 14:52] mukheema commented on #143
@Sad-polar-bear
from sdk level i don't see any option, but you can try to set static ip by writing script / batch file in _Run VMware Tools scripts_
https://pubs.vmware.com/server1/vm/wwhelp/wwhimpl/common/html/wwhelp.htm?context=vm&file=tools_scripts_gsx.html

of course for ova deployment you have option  of filling static / dhcp details but i haven't tried from sdk level.

[2020-04-17 21:01] pushkargr commented on #213
Hi @anusha94 ,
If possible can you please share any sample or example to list, show info or show status of tasks for a VM using the above module.
Thanks,
Pushkar

[2020-04-20 09:55] synergiator opened #219 "ModuleNotFoundError: No module named 'samples'"
To better isolate the problem, I've created the Dockerfile below which installs all dependencies in a Python3 environment and runs a sample file.

For some reason, the module "samples" is not recognized. Why?

[code]
Error:

[code]

[2020-04-20 10:09] anusha94 commented on #219
@synergiator
Please set the PYTHONPATH to your app/ directory
[Refer to this installation step](https://github.com/vmware/vsphere-automation-sdk-python#first-set-pythonpath-to-use-sdk-helper-methods)

Thanks!

[2020-04-20 10:45] anusha94 commented on #213
Hi @pushkargr
I checked and it seems that we can get the task progress/status only for those operations that return a task object containing the task_id.

For your use case, you can checkout [this sample](https://github.com/vmware/vsphere-automation-sdk-python/blob/master/samples/vsphere/contentlibrary/ovfdeploy/deploy_ovf_template.py)
The deploy method returns a [DeploymentResult](https://vmware.

[2020-04-20 10:49] anusha94 commented on #213
Oh I just realized that deploy vm was related to @dungla2011
@pushkargr
Like I mentioned task progress can be tracked only for those operations that return a task object. You can refer to the [documentation](https://vmware.github.io/vsphere-automation-sdk-python/vsphere/7.0.0.1/) to know the return types of different APIs

[2020-04-20 10:57] anusha94 commented on #214
@Jolin-blank
any update?

[2020-04-20 10:57] anusha94 commented on #209
@iamjhamukesh
Any update?

[2020-04-20 10:59] anusha94 commented on #203
@bostonmacosx
Any update?

[2020-04-20 11:15] synergiator commented on #219
works, thank you!

[2020-04-20 11:15] #219 closed

[2020-04-20 14:58] pushkargr commented on #213
Thanks @anusha94, Is there any other way to list the currently running tasks on a VM with status apart from this SDK then?

[2020-04-20 15:36] anusha94 commented on #213
Depends on what operations you are looking for. If they are older features like adding nic, serial ports, etc., you can consider using [pyvmomi](https://github.com/vmware/pyvmomi) (SOAP based APIs)
The vSphere Automation SDK is for REST APIs (available from VC 6.5+)

See some of the usage of task in pyvmomi in this [clone sample](https://github.com/vmware/pyvmomi-community-samples/blob/master/samp

[2020-04-20 18:41] anusha94 commented on #213
Hi @pushkargr ,
So the UI uses SOAP APIs, in particular java bindings.
For Java, you can check out [vSphere Management SDK](https://code.vmware.com/web/sdk/7.0/vsphere-management)
For python, refer [pyvmomi](https://github.com/vmware/pyvmomi)

[2020-04-20 18:43] anusha94 commented on #215
@leoncozzi
Does the error still persist?

[2020-04-20 18:46] anusha94 commented on #216
Closing this issue as pinning to a version is not supported as of now. Uploading to PyPI issue is being tracked separately.

[2020-04-20 18:46] #216 closed

[2020-04-21 03:14] anusha94 commented on #212
Hi @Jolin-blank ,
Sorry  I missed your reply.
Currently from REST APIs, only while deploying from an OVF template, there is a way to set the DiskProvisioningType - see sample [here](https://github.com/vmware/vsphere-automation-sdk-python/blob/master/samples/vsphere/contentlibrary/ovfdeploy/deploy_ovf_template.py), you will have to set the [storage_provisioning value](https://github.com/vmware/vsph

[2020-04-21 08:26] sathe06 commented on #38
@tianhao64 @xeacott @khnazaretyan
i am currently facing this issue, is it possible to solve
cat /etc/redhat-release
Red Hat Enterprise Linux Server release 7.6 (Maipo)
**output**
pip install git+https://github.com/vmware/vsphere-automation-sdk-python.git
DEPRECATION: Python 2.7 reached the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 is no longer maintained. A fut

[2020-04-21 18:58] mariolenz commented on #38
@sathe06 What exactly has your problem to do with **this** issue? Don't answer, this was a rhetorical question... this issue is about creating a PyPI package, not about problems when installing vsphere-automation-sdk-python using pip + git. I'm not saying your question is wrong or invalid or stupid, but this is the wrong place to ask it. Please don't waste other peoples time asking questions in th

[2020-04-21 19:01] nmaludy commented on #38
I'm here, just patiently waiting :)

[2020-04-22 06:34] anusha94 commented on #38
Hi Everyone,
I know it's been 2+ years and your patience is commendable :)

Unfortunately, we have hit technical roadblocks in publishing the SDK to PyPI. We are evaluating the options to provide the same experience with a different approach. At this moment, we do not have a timeline to share but we will inform you when we have updates.

Thanks,
Anusha Hegde

[2020-04-22 06:36] anusha94 commented on #38
@sathe06
Please open a new issue and we can look into it

[2020-04-22 13:17] ofek commented on #38
@anusha94 What technical roadblocks? That is highly suspect. Do you actually mean technical as in literally cannot do it?

[2020-04-22 16:45] mariolenz commented on #38
@anusha94

It would be interesting to know more about these problems. Personally, I've never built a PyPI package but maybe someone else from the community can help you there.

Would it be possible for you to open issues for these problems and link them to this one? If we don't know about your technical roadblocks, we can't help you ;-)

[2020-04-22 17:01] anusha94 commented on #38
@ofek ,
I wouldn't say literally cannot, but wouldn't prefer it either. One of the problems is mentioned in the comments here by @tianhao64 https://github.com/vmware/vsphere-automation-sdk-python/issues/38#issuecomment-474905982

@mariolenz ,
Glad that you're interested to help, but we are evaluating getting the SDK to PyPI via a different approach. I'll keep you posted!
Opening issues here would

[2020-04-22 17:13] ofek commented on #38
@anusha94 I still don't understand the rationale. Since you're only publishing the generated code to PyPI, why does the code generator being open source matter?

[2020-04-22 17:56] xeacott commented on #38
For what its worth, I have been apart of projects where responses from devs take 6 months before something is said, and sometimes all that is said is "we're still working on it". Sometimes any news is good news, and we all appreciate the efforts here.

[2020-04-22 18:42] mariolenz commented on #38
@anusha94

But that's not a _technical_ issue, is it? If anything, it's a _legal_ one... and I don't even think it really is. As @ofek pointed out:

IANAL, but since you publish this code on GitHub under the [MIT License](https://github.com/vmware/vsphere-automation-sdk-python/blob/fb7b0f53cc690d844e14afd88b518a20ed6be438/LICENSE), I don't see why you can't publish a PyPI package under said licens

[2020-04-23 07:37] anusha94 commented on #214
closing this issue as there are no updates.

[2020-04-23 07:37] #214 closed

[2020-04-23 07:37] anusha94 commented on #209
closing this issue as there are no updates.

[2020-04-23 07:37] #209 closed

[2020-04-23 07:38] anusha94 commented on #212
Closing this issue as a workaround is provided in the above comment. Feel free to open this issue if needed.

[2020-04-23 07:38] #212 closed

[2020-04-23 07:40] anusha94 commented on #213
Closing this issue as the Automation SDK currently supports tasks progress for a limited set of operations. Other SDK references are mentioned in the above comment.

[2020-04-23 07:40] #213 closed

[2020-04-23 12:54] Jolin-blank commented on #212
Thanks for you reply ，I will try it using pyvmomi.

| |
jolin_blank
|
|
邮箱：jolin_blank@163.com
|

Signature is customized by Netease Mail Master

On 04/21/2020 11:14, Anusha Hegde wrote:

Hi @Jolin-blank ,
Sorry I missed your reply.
Currently from REST APIs, only while deploying from an OVF template, there is a way to set the DiskProvisioningType - see sample here, you will have to set the storage

[2020-04-24 10:08] ewan-derivco commented on #209
wait!! we get the same issue, it errors when there are orphaned vms in the result set

[2020-04-24 10:09] ewan-derivco commented on #209
we are using the rest interface directly  via c# though so maybe not the python sdk at fault

[2020-04-26 11:22] UAnton opened #220 "Not working on MacOS"
- [X] I am using the [latest SDK version]
- [X] This API is compatible with my vCenter version
- [X] I have searched [existing issues]

## Environment
- sdk package version:
nsx-vmc-aws-integration-python-sdk     2.5.1.0.1.15419398
nsx-vmc-policy-python-sdk              2.5.1.0.1.15419398
pyobjc-framework-DictionaryServices    2.5.1
pyobjc-framework-EventKit              2.5.1
pyobjc-framework-FSE

[2020-04-26 11:41] anusha94 commented on #220
Hi @UAnton
Can you describe what is the problem with Automation SDK here?
Or perhaps consider raising an issue on https://github.com/ansible-collections/vmware if it is Ansible issue.

[2020-04-26 11:43] anusha94 commented on #220
FYI: https://github.com/ansible-collections/vmware/blob/master/requirements.txt

[2020-04-26 12:51] UAnton commented on #220
Thanks

[2020-04-26 12:51] #220 closed

[2020-04-27 07:00] anusha94 commented on #220
@UAnton
https://github.com/ansible-collections/vmware/issues/154
This might be relevant to you.

[2020-04-27 18:00] mariolenz commented on #38
@jobingeo @tianhao64 @anusha94

Congratulations! People start wondering if this SDK is even worth considering:

[source](https://github.com/pryorda/vmware_exporter/pull/194#issuecomment-619405929)

'nuff said

[2020-04-29 21:45] tezzigator opened #221 "Cannot auth Python SDK into VCenter."
- [X ] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [X ] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [ X] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://gith

[2020-04-30 01:08] anusha94 commented on #221
Can you be more clear? Here, "another one" means another user or another VC?

[2020-04-30 02:55] tezzigator commented on #221
My apologies - for the "another one" that is working, its a completely different VC, with a completely different set of user credentials.  The odd thing is the VC I am able to get the SDK to work with, the credentials do not have admin level access.

The user credentials for the VC that I cannot get the SDK to work on has admin level set for the credentials.  Im positive the user/pass combo is cor

[2020-04-30 03:05] anusha94 commented on #221
Thanks for the clarification.
Can you share the code snippet? The login step to be more specific. And the error stack too.

[2020-04-30 16:12] tezzigator commented on #221
Here is the login config that works on other VCenters with other credentials:
[code]

And the error:
[code]

And if i intentionally use the wrong password:
[code]

[2020-04-30 17:02] anusha94 commented on #221
Since you are sure of admin access and correct user/pass combo, could you try logging in the vsphere ui client?
Just hit the http://<IP>/ui in the browser -> verify if you can login with these credentials.
If you get the same error, then something is wrong in the privileges or credentials, but if you're able to login via UI and not via SDK, then we'll have to investigate the SDK

[2020-04-30 20:25] tezzigator commented on #221
My apologies - the admin of the system got back with me they had something wrong with my account and told me they "really did" make me admin this time and now its working.  sorry to waste time.

[2020-04-30 20:25] #221 closed

[2020-04-30 21:25] tezzigator commented on #38
can we at least get updated instructions on installing the sdk ito  venv lib?
`pip install --upgrade git+https://github.com/vmware/vsphere-automation-sdk-python.git` no longer works on any of my machines (got it to work a few weeks ago on an old machine) but now when I try that command, all the vapi/nxt pip packages fail as such:
`requests.exceptions.HTTPError: 404 Client Error: Not Found for url:

[2020-05-04 20:13] varun030190 commented on #172
Which path we need to add in environment variable?

[2020-05-14 17:58] mariolenz commented on #38
@jobingeo @tianhao64 @anusha94

We're still waiting for an answer...

[2020-05-17 23:30] kapi33 opened #222 "No module named vmware"
- [x] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [x] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [x] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://github.

[2020-05-18 05:19] anusha94 commented on #222
@kapi33

Try setting the **PYTHONPATH** as mentioned [here](https://github.com/vmware/vsphere-automation-sdk-python#first-set-pythonpath-to-use-sdk-helper-methods)

[2020-05-21 05:55] rysevpd opened #224 "Import Errors"
- [ ] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)

- [ ] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://github.com/vmware/vsphere-automation-sdk-python/wiki/Troubleshooting)

## Environment
- sdk package version:

- python versi

[2020-05-21 06:09] anusha94 commented on #224
@rysevpd

Have you installed the SDK after downloading?

[2020-05-21 10:02] rysevpd commented on #224
Sorry, I'm new to Python. I downloaded the archive, unzipped it and added it to the project folder. Is this right or am I doing something wrong?

[2020-05-21 12:05] anusha94 commented on #224
You should install the SDK before using it.
If for some reason, you cannot perform the installation steps mentioned [here](https://github.com/vmware/vsphere-automation-sdk-python#installing-required-python-packages), I'd recommend you to try this -

[code]

[2020-05-26 04:45] anusha94 commented on #224
@rysevpd

Replace absolute_path_to_sdk to the absolute path on your system where the SDK is unzipped.

[2020-05-27 02:28] rysevpd commented on #224
Hooray! Everything is working! Thank you very much for your help and patience!

[2020-05-27 02:28] #224 closed

[2020-05-28 06:06] lovebaicai opened #225 "Can't use sdk to connect to vcenter,certificate verify failed"
- my sdk version is latest, python version is 3.7.5, vcenter version is 6.5；
 - The certificate has been imported on the machine，like this [How to download and install vCenter Server root certificates](https://kb.vmware.com/s/article/2108294#certificate_download_in_small_deployments)；
- i try use sample code
[code]
- result log
[code]
- and this code, like this [vmware_tag_manager - certificate va

[2020-05-28 06:40] anusha94 commented on #225
@lovebaicai

For your first code snippet where `session.verify = False`, ideally this should work. But from the error message, it looks like you have VMs that are not connected to the network. A similar issue here - https://github.com/vmware/vsphere-automation-sdk-python/issues/209#issuecomment-600579165

When the cert is installed, could you post the output from the snippet mentioned in https://g

[2020-05-28 06:55] lovebaicai commented on #225
@anusha94 i modify code, session.verify = True
[code]
- result log
[code]

[2020-05-28 07:05] anusha94 commented on #225
`export REQUESTS_CA_BUNDLE=/path/to/crt`
Have you done this step?

[2020-05-28 07:27] lovebaicai commented on #225
@anusha94
- i try export
[code]
- result log
[code]
- but vcenter.test.cc ip address is 192.168.20.93
[code]

[2020-05-28 09:57] anusha94 commented on #225
Okay, now can you check are your VMs connected to any network in the VC? Or are they orphaned? Because like I mentioned before, we have seen this error when there are orphaned VMs. Can you remove such VMs or assign a network to them?

[2020-05-28 11:02] lovebaicai commented on #225
@anusha94
i confirm the vm，and connect the VC, not orphaned.
![_67E23C1F-1FCC-4D7F-AD41-C1AC52A34CC8__20200528190047.jpg](https://i.loli.net/2020/05/28/xpjhE253WlSgIeF.jpg)

[2020-05-30 07:13] rysevpd opened #226 "vsphere-automation-sdk-python and proxy error"
- [ ] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [ ] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [ ] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://github.

[2020-05-30 09:22] anusha94 commented on #225
Hi @lovebaicai

I'm unable to reproduce this issue as of now. But you are not getting `certificate verify failed` error anymore which is a good thing.
I will try and find out other scenarios where you get this error.

Thanks!

[2020-05-30 09:45] anusha94 commented on #226
@rysevpd

As you can see from the error log
[code]

The error is not from the SDK, in fact, the call is not coming through.
Do you have any setting to test this without proxy?

[2020-05-30 14:38] lovebaicai commented on #225
@anusha94 Thank you very much。
i change python method，use pyVmomi。the issue close。
If you find a solution to the problem, please @me.

[2020-05-30 14:38] #225 closed

[2020-06-03 04:14] mlasevich commented on #38
Silly question, but considering the MIT license, is there anything legally preventing someone from publishing an unmodified "fork" to PyPi? Asking for a friend ;-)

[2020-06-03 12:36] ofek commented on #38
@mlasevich Nope 😉

[2020-06-03 17:44] mlasevich commented on #38
I spent a few today poking at it, and it appears that the "technical" problem here is that this project is a bit of a hack :-/. There is no actual code in this project, it is just an aggregator for a set of other other packages - which is fine, but they include those packages INSIDE this project, which seems to violate basic python packaging guidelines and makes the project super brittle.

So the

[2020-06-03 19:00] mariolenz commented on #38
OMG! I've never realized this. So @Jc2k probably was right: `My gut reaction is if they can't manage that, then what other python basics are they not doing?`

This looks like the "legal" issue seems to be an excuse. If the project is, as you put it, "a bit of a hack" but if there are "legal" problems, there's no need to fix the hack / technical debts... "we could fix the technical problems, but it

[2020-06-03 19:11] xeacott commented on #38
It's also public that this has been addressed https://github.com/pypa/pypi-support/issues/105
VMWare must be the author of these packages, and the packages must be uploaded to PyPi.

If this is an open sourced python project, that doesn't/can't exist in PyPi, what can we do?
Or rather, can PyVmomi be updated to include all of these new and highly specific features that this SDK contains but PyVmom

[2020-06-03 19:41] mlasevich commented on #38
Based on what I am seeing, there are no actual barriers here, technical or legal - just a little work that needs to be done.  For multiple reasons, it should probably be done by vmware , which seems to be not a priority for them - which leads me to think that the best idea is that we move away from vmware altogether.  If they cannot handle basic things like this, idea that larger, more complicated

[2020-06-04 18:05] kusantosh commented on #38
Hi All,

I am a product manager at VMware, managing SDKs and automation. We completely understand your concerns and frustration because this issue has been open for a long time. As you probably know, the current SDK is not easy to use because it is based on VMware proprietary framework (vAPI.) Internally, we have been discussing to fix the developer experience for the SDKs and it is one of our top

[2020-06-04 18:58] mariolenz commented on #38
@kusantosh

And after you've rebuilt the SDK, you'll publish a PyPI package? After all, that's what this issue is about... your comment lacks the magic words, "PyPI package".

Take your time. As long as we get a PyPI package in the end...

[2020-06-04 21:42] kusantosh commented on #38
@mariolenz  Thanks for pointing out about "PyPI" package. Yes, publishing the PyPI package will be the priority for the new SDK.

[2020-06-10 07:36] riveryc opened #229 "cannot find relative information in doc"
- [x] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [x] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [x] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://github.

[2020-06-10 07:39] riveryc commented on #229
for example: I cannot find anything about "VM.clone()" at all... Any useful link to help?

Thanks!

[2020-06-10 07:56] anusha94 commented on #229
Check this out - https://vmware.github.io/vsphere-automation-sdk-python/vsphere/7.0.0.1/com.vmware.html#com.vmware.vcenter_client.VM

Refer to the method [clone_task](https://vmware.github.io/vsphere-automation-sdk-python/vsphere/7.0.0.1/com.vmware.html#com.vmware.vcenter_client.VM.clone_task) for clone operation.

Thanks for reporting the empty content, I'll get it fixed.

[2020-06-19 08:02] suhasdombale123 opened #230 "can we use sdk to deploy a vm via vm templates stored in the folder?"
In Vcenter UI we can deploy a vm using template......can the same be done via automation sdk???
the templates are in folder not in the Content library.

[2020-08-03 12:44] mike-19 commented on #87
any idea on when this feature will be made available?

[2020-08-17 14:19] Hi-Angel commented on #195
[Downstream Ubuntu report](https://bugs.launchpad.net/ubuntu/+source/python-pip/+bug/1891897).

[2020-08-25 05:09] inshal96 commented on #209
Hi,

So when i apply the powered on filter, it lists all vms. When I remove that filter, it produces the following exception:

![image](https://user-images.githubusercontent.com/39904558/91125380-0f687c00-e6bb-11ea-832f-bdf1e9bf150f.png)

[2020-08-25 11:29] dungla2011 commented on #209
If it has any unaccessable, obsolete vm on vcenter?

[2020-08-25 16:08] inshal96 commented on #209
Yes, it did have an obsolete vm.

[2020-08-25 16:08] inshal96 commented on #209
Yes, it did have an obsolete vm.

[2020-08-28 15:34] MrPippin66 commented on #147
Can this be expanded to include providing API for getting current CPU use, memory use, disk throughput and network throughput for hosts?

Or would this need a separate feature request?

[2020-08-31 21:28] MrPippin66 opened #231 "create_vsphere_client has no documentation"
- [x ] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [ x] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [ x] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://gith

[2020-09-01 01:35] anusha94 commented on #231
Hi @MrPippin66 ,

Thanks for reporting this!
We will add the missing content for `vsphere_client` in the upcoming release. There is documentation on exception [here](https://vmware.github.io/vsphere-automation-sdk-python/vsphere/7.0.0.1/vmware.vapi.html?highlight=error#module-vmware.vapi.exception)

[2020-09-03 02:22] lihualong0328 commented on #60
pip install --upgrade --force-reinstall -r requirements.txt --extra-index-url file:\\F:\PycharmProjects\RemoteTarget\vsphere-automation-sdk-python-master\lib

it`s works!

[2020-09-04 18:20] mariolenz commented on #38
@kusantosh

Any news? I don't want to put any pressure on you, but I think that after three months it's time for you to inform us where you stand. I don't expect an ETA, but a rough estimate (20%, 50%, 80%?) would be great.

[2020-09-11 11:10] GreyArea765 opened #232 "Error Cannot find service 'com.vmware.vcenter.VM'. when running quickstart example."
Hi, trying to get up and running with this sdk.  I've run through the steps in the quickstart guide and set the export path.  I'm using the vSphere 7.0 release (14th April) against a 6.5 vSphere appliance.

My code is taken from the quickstart  example;

[code]

[code]
Supporting info:

[code]

[2020-09-11 13:16] anusha94 commented on #232
@GreyArea765

Could you please verify your VC version again? I was able to execute this snippet on a `6.5` version, but it errors out with `com.vmware.vapi.std.errors_client.OperationNotFound` on a `6.0` version

[2020-09-11 15:01] GreyArea765 commented on #232
Aaah you're right! - I'd forgotten that particular VC was still 6.0 - can confirm it works fine on a 6.5.

I can now see that VM.list() is not in the vmware package for 6.0

[2020-09-11 15:01] #232 closed

[2020-09-16 19:24] MrPippin66 opened #233 "Feature Request: Add performance metrics for disk/CPU/network/memory for host servers"
This is related to "How to get disk, memory usage of each vm #147"

Software level in use: vSphere-Automation-SDK             1.32.0

Please implement the performance APIs currently allowed via pyvomi.

To be specific, we need access to the following Host metrics

1. Memory details and use
2. CPU details and use
3. Network details and I/O usage
4. HBA & Disk details & I/O usage
5. Datastore metric

[2020-09-16 23:05] fj7 opened #234 "VM annotation question"
- [ X] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [ X] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [ X] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://gith

[2020-09-24 03:25] anusha94 opened #237 "Broken NSX Documentation Links"
Recent update to NSX documentation introduced some broken links -

[NSX Manager APIs](https://vmware.github.io/vsphere-automation-sdk-python/nsx/nsx/index.html)
[NSX Policy](https://vmware.github.io/vsphere-automation-sdk-python/nsx/nsx_policy/index.html)
[NSX VMC Policy](https://vmware.github.io/vsphere-automation-sdk-python/nsx/nsx_vmc_policy/index.html)
[NSX VMC AWS Integration](https://vmware.

[2020-09-24 03:31] ggoodvmw commented on #237
Fixed in https://github.com/vmware/vsphere-automation-sdk-python/pull/238

[2020-10-09 23:31] JimCircadian commented on #182
If there's anything I can do to help advance this, I think it's still a really useful feature to have! :-)

[2020-10-12 05:16] #237 closed

[2020-10-12 10:10] vishnuvardhandvr opened #241 "ERROR: Could not find a version that satisfies the requirement vapi-client-bindings==3.3.0vmc-client-bindings"
- [ ] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [ ] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [ ] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://github.

[2020-10-15 14:01] anusha94 commented on #241
We have updated `vapi-client-bindings` to `3.5.0`,
Could you please try again?

[2020-10-15 14:05] anusha94 commented on #231
`create_vsphere_client` documentation [here](https://vmware.github.io/vsphere-automation-sdk-python/vsphere/7.0.1.0/vmware.vapi.vsphere.html#vmware.vapi.vsphere.client.create_vsphere_client)

[2020-10-15 14:05] #231 closed

[2020-10-15 14:06] anusha94 commented on #229
Fixed empty content - https://vmware.github.io/vsphere-automation-sdk-python/vsphere/7.0.1.0/vmware.vapi.vsphere.html

Thanks!

[2020-10-15 14:06] #229 closed

[2020-10-21 11:40] Akasurde commented on #136
Any update on this team?

[2020-10-21 11:56] Akasurde opened #242 "DynamicID should check type and fail for wrong type assigned"
- [X] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [X] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [X] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://github.

[2020-10-21 14:40] Akasurde commented on #242
When specifying the wrong type in DynamicID should raise an error or exception.

[2020-10-28 17:00] prm-svm-17 opened #243 "Could not find a version that satisfies the requirement vsphere-automation-sdk-python>=1.0 (from test-pkg==0.0.1) (from versions: )"
Have tried installed vsphere-automation-sdk-python through setuptools.setup(), but facing the below error,

Collecting vsphere-automation-sdk-python>=1.0 (from test-pkg==0.0.1)
  Could not find a version that satisfies the requirement vsphere-automation-sdk-python>=1.0 (from test-pkg==0.0.1) (from versions: )
No matching distribution found for vsphere-automation-sdk-python>=1.0 (from test-pkg==0.0

[2020-10-29 13:59] anusha94 commented on #243
@prm-svm-17

Are you trying to install the SDK itself?
Please follow these steps -
- [installing required packages](https://github.com/vmware/vsphere-automation-sdk-python/#installing-required-python-packages)
- [set PYTHONPATH](https://github.com/vmware/vsphere-automation-sdk-python/#first-set-pythonpath-to-use-sdk-helper-methods)

If not, can you please describe your requirement?

[2020-10-29 15:45] prm-svm-17 commented on #243
Thanks @anusha94 for reply,

SDK Installation through PIP is working fine though. Below is our requirement,

Creating a wheel package of our automation libraries, which in turn referring vSphere Automation SDKs. So while trying to package our libraries including vSphere Automation SDK through setuptools.setup(), we are encountering below issue.

(pip_env_1) -bash-4.2$ pip install test-pkg-0.0.1-py

[2020-11-03 12:41] Akasurde opened #245 "Unable to get DatastoreCluster"
- [x] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [x] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [x] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://github.

[2020-11-03 17:24] jdotsmith commented on #245
This would be very useful

[2020-11-09 17:09] nbttmbrg opened #247 "pip install broken in latest version"
- [X] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [X] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [X] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://github.

[2020-11-10 07:32] igorfraa commented on #241
@vishnuvardhandvr

vsphere-automation-sdk-python installs not from PyPi, but from git: `pip install --upgrade git+https://github.com/vmware/vsphere-automation-sdk-python.git
`
or from local repo copy:
[code]

[2020-11-10 07:35] igorfraa opened #248 "automation sdk pacakges not published to PyPi"
Hello,

It looks vsphere-automation-sdk-python installs not from PyPi, but either from git: `pip install --upgrade git+https://github.com/vmware/vsphere-automation-sdk-python.git`

or from local repo copy:
[code]

What is the ratio behind not publishing packages to PyPi?

[2020-11-10 09:36] nbttmbrg commented on #247
If I run it twice, the second run is without error.

[2020-11-10 11:01] #248 closed

[2020-11-10 11:36] anusha94 commented on #247
@nbttmbrg

Can you try the installation again in a clean virtual environment?
Also, if the issue persists, can you show the output of `pip list` after the first run?

[2020-11-10 11:59] anusha94 commented on #243
Hi @prm-svm-17 ,

The following worked for me -
`install_reqs = ["vSphere-Automation-SDK @ git+git://github.com/vmware/vsphere-automation-sdk-python@v7.0.1.0#egg=vsphere-automation-sdk-python"]`

You can remove the entry for the SDK from `dependency_links`

Let me know if it works for you.

[2020-11-10 12:44] nbttmbrg commented on #247
Hello,

Same symptom, as expected pip list shows the SDK as installed, but this ERROR is still crashing my CI process :
Package                            Version
---------------------------------- ------------------
certifi                            2020.11.8
cffi                               1.14.3
chardet                            3.0.4
cryptography                       3.2.1
idna

[2020-11-12 13:00] sayhellotoelango commented on #115
windows:
pip install -r requirements.txt --extra-index-url file:\\C:\Users\Administrator\Desktop\ovf\vsphere-automation-sdk-python\lib\

[2020-11-18 11:14] segadson opened #249 "import com.vmware.content.library_client failing"
- [x] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [x] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [x] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://github.

[2020-11-19 03:44] prm-svm-17 commented on #243
Hi @anusha94,

We are getting the below error after adding the install_reqs in our setup.py

Processing ./dist/test-pkg-0.0.1-py3-none-any.whl
Collecting dumper
  Downloading Dumper-1.2.0-py2.py3-none-any.whl (13 kB)
Collecting vSphere-Automation-SDK@ git+git://github.com/vmware/vsphere-automation-sdk-python@v7.0.1.0#egg=vsphere-automation-sdk-python
  Cloning git://github.com/vmware/vsphere-autom

[2020-11-20 09:15] snsiregar opened #250 "vmware_tag_manager module error or failed to import the required Python library (vSphere Automation SDK)"
## Environment
- sdk package version:
nsx-vmc-aws-integration-python-sdk 3.0.2.0.0.16837625
nsx-vmc-policy-python-sdk          3.0.2.0.0.16837625
pyvmomi                            7.0.1
vapi-client-bindings               3.5.0
vapi-common-client                 2.19.0
vapi-runtime                       2.19.0
vmc-client-bindings                1.30.0
vmc-draas-client-bindings          1.15.0
vSph

[2020-11-24 10:55] keilr commented on #38
This might be interesting for those of you who need this SDK for using the community VMware Ansible modules: there is a new Ansible collection [vmware.vmware_rest](https://github.com/ansible-collections/vmware.vmware_rest) which is not relying on any third party libraries (such as Pyvmomi and vSphere Automation SDK for Python). This collection is quite new and does not offer all functions yet.

[2020-11-24 22:51] pavanshivakumar commented on #36
python samples/vsphere/vcenter/vm/list_vms.py -s <ip> -u <username> -p <password> -v
results in the error requests.exceptions.HTTPError: 400 Client Error: Bad Request for url: https://<ip>/api

Any help on the above would be appreciated

[2020-11-25 14:28] MalfuncEddie commented on #245
Hey

Is this something that could help?

https://vdc-repo.vmware.com/vmwb-repository/dcr-public/1cd28284-3b72-4885-9e31-d1c6d9e26686/71ef7304-a6c9-43b3-a3cd-868b2c236c81/doc/structures/com/vmware/vcenter/inventory/datastore/svc.info-structure.html

I think you should look for datastore clusters (StoragePod) in inventory/datastore

[2020-11-26 14:25] wx256 opened #251 "VM.list com.vmware.vapi.std.errors_client.InternalServerError"
__author__ = 'VMware, Inc.'
__copyright__ = 'Copyright 2017 VMware, Inc. All rights reserved.'
__vcenter_version__ = '6.5+'
from pprint import pprint
from vmware.vapi.vsphere.client import create_vsphere_client
from com.vmware import vcenter_client
from samples.vsphere.common import sample_cli
from samples.vsphere.common import sample_util
from samples.vsphere.common.ssl_helper import get_unverifi

[2020-11-27 17:09] salimep commented on #241
@igorfraa

even from git problem still exist , unable to install SDK for vmware

`pip install --upgrade git+https://github.com/vmware/vsphere-automation-sdk-python.git
Collecting git+https://github.com/vmware/vsphere-automation-sdk-python.git
  Cloning https://github.com/vmware/vsphere-automation-sdk-python.git to /private/var/folders/m9/9xcqjpjs16l2x50q_yv_bwxh0000gp/T/pip-9v7tg4ha-build

Collect

[2020-11-27 17:24] salimep commented on #241
issue has been resolved
[code]

[2020-12-01 10:21] anusha94 commented on #251
Do you get the same error even after cloning?

[2020-12-01 10:26] anusha94 commented on #249
It is likely that you have not installed the SDK properly.
Can you try the import statement `from com.vmware.content_client import LibraryModel` in a python shell?

[2020-12-02 18:33] brakthehack opened #252 "Recent updates break compatibility with dcli package"
- [x] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [x] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [x] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://github.

[2020-12-03 11:41] DevFinGitGovSecChatOps commented on #38
@kusantosh Any progress?

[2020-12-09 16:41] nicholasrodriguez opened #253 "test.iso and test-2.iso being flagged as corrupt in Anti-Virus software"
This isn't a typical code issue but does effect our use of the SDK in production.

We regularly build containers that have the vsphere-automation-sdk installed alongside items such as Ansible which work without any issues. We are finding that when the container is scanned by Anti-Virus software (Sophos) the following files are being noted as corrupt:

https://github.com/vmware/vsphere-automation-s

[2020-12-11 06:34] anusha94 commented on #253
Hi @nicholasrodriguez

Thanks for reporting this issue. I'll keep you updated on the status/fix.

[2020-12-11 12:57] FallingSkie opened #254 "SSL CERTIFICATE_VERIFY_FAILED even when validate_certs: False"
- [ x ] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [ x ] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [ x ] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://g

[2020-12-12 21:54] tyao117 opened #255 "Cannot use the repo with poetry unless it's pulled locally."
- [X] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [X] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [X] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://github.

[2020-12-13 14:57] anusha94 commented on #255
Hi @tyao117

The `.whl` files are present in `lib/`, so I don't see another way to install it - unless the repo is pushed to PyPI, and that is a work in progress.

[2020-12-14 17:04] tyao117 commented on #255
hey @anusha94; thanks for responding, when is this going to be pushed to PyPI, and is there a way to reference the `.whl` using the github url rather than the local path?

[2020-12-21 03:17] patsevanton commented on #38
Hello! Thanks for vsphere-automation-sdk-python
Any news?

[2020-12-21 05:31] patsevanton opened #256 "HTTPError: 404 Client Error: Not Found for url: https://pypi.org/simple/vapi-runtime/"
- [*] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [*] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [*] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://github.

[2020-12-21 05:35] patsevanton commented on #256
[code]

Let`s fixed!!!

[2020-12-21 05:35] #256 closed

[2021-01-08 10:00] Akasurde commented on #254
@pgbidkar Could you please check this?

[2021-01-08 10:04] Akasurde commented on #254
cc @anusha94

[2021-01-11 15:49] anusha94 commented on #254
@Akasurde

Is it the same behavior with other modules too or only tagging in particular? I am able to run a sample by disabling verification.

[2021-01-12 03:49] Akasurde commented on #254
yes, for all modules which use the `vsphere automation SDK`

[2021-01-12 04:28] anusha94 commented on #254
@Akasurde
I followed the Ansible issues thread where you have rightly pointed out that `REQUESTS_CA_BUNDLE` is set on the node. This is overriding the `session.verify` setting (this saved me a lot of time!)

Looks like this is a known issue in the `requests` library - https://github.com/psf/requests/issues/3829
There seems to be a fix in the `v3` release of `requests` package.

We don't want to ov

[2021-01-12 04:42] Akasurde commented on #254
Yes. I will add a note in Ansible Doc about this.

[2021-01-25 20:02] mariolenz commented on #38
@kusantosh @tianhao64 @anusha94

Any news? Not to put too fine a point on it, you promised us a PyPI package more than half a year ago... it's about time you deliver :angry:

[2021-01-26 17:41] inflatador commented on #101
@tianhao64  or anyone else, see @bpg168  's statement above. Is there a way to resolve these DynamicIDs like "type='VirtualMachine', id='vm-901925'" back to virtual machine names?

[2021-01-28 07:20] s0undt3ch commented on #38
Worst case, can you put the latest release under `master/lib` as you do with other dependencies so that we only have to provide `--extra-index-url=https://cdn.githubraw.com/vmware/vsphere-automation-sdk-python/master/lib/` to pip?

[2021-01-28 07:45] s0undt3ch commented on #38
https://github.com/vmware/vsphere-automation-sdk-python/pull/258 ?

[2021-01-29 22:15] inflatador commented on #101
Just following up, someone far smarter than I pointed me in [the right direction](https://virtuallysober.com/2019/01/23/getting-vm-tags-across-vcenters-using-powershell-rest-apis/). Now we can resolve these back to machine names
First, get the list of resources associated with a particular tag
[code]

For simplicity's sake, I'm only going to show the list of resources associated with a single key

[2021-02-24 18:55] timblaktu opened #259 "error "Supplied requirement is not installable" installing vsphere-automation-sdk-python v7.0.1 from git/pipenv"
TL;DR; **does the sdk install require the community.vmware ansible collection requirements.txt to be installed first?**

Moving issue from [community.vmware ansible collection](https://github.com/ansible-collections/community.vmware/issues/68), I am getting errors installing `vsphere-automation-sdk-python` from its most recent git tag v7.0.1, using ansible 2.10.7, pyvmomi 7.0.1, python 3.7.3, and

[2021-02-24 19:12] mariolenz commented on #38
@kusantosh @tianhao64 @anusha94

Can you _please_ provide a PyPI package? Pretty please, with sprinkles on top? #259 ansible-collections/community.vmware#686

[2021-02-24 19:27] timblaktu commented on #259
It appears the answer to my initial question is *no*. I tried to change the order of installing requirements/dependencies so that I install the collection _before_ installing the sdk, and I get this error:

[code]

So, indeed it appears that my initial order was correct, you have to install the sdk first, then you can install the collection. (this is what I was originally doing.)

So, the original

[2021-02-24 19:29] mariolenz commented on #259
This SDK would be much easier to use if it would be available as a PyPI package: #38

Feel free to shoot VMware employees until they provide a PyPI package. It looks like physical violence is the only way to make them work... and I'm not even sure if about this, maybe they would rather die before they **do their fucking work**.

[2021-02-24 19:35] timblaktu commented on #38
Can someone confirm whether vsphere-automation-sdk-python is even installable via git? Over in #259, I'm not even able to install it using pip/pipenv, using [standard practice for installing pip packages from VCS/SCM](https://github.com/pypa/pipenv/blob/master/docs/basics.rst#-a-note-about-vcs-dependencies)..

I'd be satisfied without a pypi package if it at least worked from the git repo. Perhaps

[2021-02-24 19:44] timblaktu commented on #259
@mariolenz, thanks for the link. Many people there have mentioned the annoyance of "having to download this repo and "hand install" it?" Can you enlighten me on how to "hand install" it? I'm using this from jenkins job so I really don't care that much if it's installed from Pypi or a manual recipe bc it will be automated.

[2021-02-24 19:53] mariolenz commented on #259
Not knowing Jenkins (well, I know what it's supposed to do but never worked with it) I'm not really sure what you're doing there. But `pip3 install https://github.com/vmware/vsphere-automation-sdk-python/archive/master.zip`generally works for me. Hope this helps.

[2021-02-24 19:57] timblaktu commented on #259
Jenkins is just a glorified cron system - in this case it's just a machine running a bash script. I will try doing a pip install using the released zip files.. Thanks.

[2021-02-24 20:15] timblaktu commented on #259
So, in my Jenkins job's bash script, installing the SDK using `pipenv install https://github.com/vmware/vsphere-automation-sdk-python/archive/v7.0.1.0.tar.gz` results in a different error after `Installing...` then `Resolving...` for a while:

[code]

Interestingly, on another machine the above command succeeds. The successful machine has:
* python 3.9.0
* ansible 2.10.6
* pipenv, version 2018.11.

[2021-02-24 20:44] ShadowJonathan commented on #38
You seem to be able to install it via `git+https://github.com/vmware/vsphere-automation-sdk-python`, but pypi doesn't accept a dependency of this kind, so it cannot be added to pypi like this.

[2021-02-24 20:54] timblaktu commented on #38
Over on #259 I was shown i could install it via the release archive on github, a la `pipenv install https://github.com/vmware/vsphere-automation-sdk-python/archive/v7.0.1.0.tar.gz`. As I've noted there, this is working for me in one environment and not in another. I'm currently tracking down the reason.

[2021-02-24 21:03] timblaktu commented on #259
One by one, I updated pip and then pipenv on the successful machine, to be same version as on the Jenkins (bad) machine (which had latest versions), and the successful machine still can `pipenv --rm || pipenv install` from a Pipfile that includes:

[code]

So, now the only difference I can see in the environments is the python version. I will now upgrade python on Jenkins to 3.9.0 and cross my fin

[2021-02-24 21:06] mariolenz commented on #259
I'm not sure if I can help you here. It works for me:

[code]

But I've already installed pyvmomi. Does `pip install pyvmomi https://github.com/vmware/vsphere-automation-sdk-python/archive/master.zip` work?

[2021-02-28 10:13] Elinoy-1 opened #260 "List VMs IPs"
Hi,

I'd like to retrieve a list of all our virtual machines - names and IPs.
According to what I found, I can use the following option to retrieve all virtual machines:
[code]
However, the output doesn't include the IPs. What am I missing here? is there an option to include it?

Thank you!

[2021-02-28 11:46] mike-19 commented on #260
You can retrieve the IP-address of the VM using the below
`
 ip = vsphere_client.vcenter.vm.guest.Identity.get(vm='vm-58')
 ip.ip_address
`

[2021-03-09 00:40] timblaktu commented on #259
@mariolenz you didn't say what version of python you were using. That would be helpful since in my case it works for 3.9.0 but not for 3.7.3. I'm just back to looking at this issue, and tomorrow morning should be testing again on Jenkins with 3.9.0.

Also, I'm curious why you're running the install as root. Wondering if that's relevant. Thanks.

[2021-03-10 17:04] timblaktu commented on #259
Now using python 3.9.0, I'm getting success but **only** when I `pipenv install` a release archive file, using this package type/syntax, `vsphere-automation-sdk = {file = "https://github.com/vmware/vsphere-automation-sdk-python/archive/v7.0.1.0.tar.gz"}`.

Here is the full Pipfile I'm using in this successful case:

[code]

Even though this succeeds, strangely, a subsequent graph of what got insta

[2021-03-11 22:59] timblaktu commented on #38
Got it working, had to:
* tell ansible the path to the python interpreter in the venv I'm using, with `ansible_python_interpreter`
** this caused ansible to mysteriously report ModuleImportErrors and took some digging
* make sure my jenkins workspace path and venv name are short so that I don't trip on the 127 char shebang problem
** this caused mysterious syntax errors when executing the scripts

[2021-03-12 23:40] timblaktu commented on #38
@keilr, a story for you: I found your comment here about vmware_rest a couple weeks when I was struggling to get community.vmware collection requirements installed. I opened up a new Chrome window, browsed a bit, and kept it in the back of my mind.

...fast forward to yesterday, two weeks later, and I _just_ got the community.vmware collection requirements installed successfully for the first time

[2021-03-13 03:23] oniGino commented on #259
same issue with my docker builds

[2021-03-13 03:55] anusha94 commented on #259
Hi @timblaktu

Sorry I couldn't get to this earlier. Can you explain what you mean by,

`v7.0.1.0` release corresponds to `1.39.0` version of the SDK - https://github.com/vmware/vsphere-automation-sdk-python/commit/a7813fdca8b6db5b69be3e17fdb5a42b3726ab7e#diff-60f61ab7a8d1910d86d9fda2261620314edcae5894d5aaa236b821c7256badd7

[2021-03-13 04:09] timblaktu commented on #259
It just wasn't clear to me that the versions weren't expected to be the
same.

On Fri, Mar 12, 2021, 19:55 Anusha Hegde ***@***.***> wrote:

[2021-03-15 04:33] #260 closed

[2021-03-15 04:36] anusha94 commented on #255
@tyao117

Are you looking for something like this?
https://github.com/vmware/vsphere-automation-sdk-python/pull/258/files

[2021-03-15 04:41] anusha94 commented on #252
@brakthehack

Thanks for reporting this. It is because both Automation SDK and dcli uses the same runtime library, and may go out of sync due to different release timelines. We will look at syncing our release schedule to mitigate this issue.

Thanks!

[2021-03-15 04:41] anusha94 commented on #251
@wx256

Any update?

[2021-03-15 04:44] anusha94 commented on #250
@snsiregar

Other vmware modules (snapshot and guest) are using the Automation SDK itself or pyvmomi?

[2021-03-15 04:45] anusha94 commented on #249
@segadson

Any update?

[2021-03-15 04:47] anusha94 commented on #247
@nbttmbrg

Were you able to resolve this?

[2021-03-15 04:48] anusha94 commented on #245
@Akasurde

Does the above link help?

[2021-03-15 04:50] anusha94 commented on #243
@prm-svm-17

Were you able to resolve this?

[2021-03-15 05:00] anusha94 commented on #197
Closing due to inactivity on this bug. Feel free to reopen.

[2021-03-15 05:00] #197 closed

[2021-03-15 05:03] anusha94 commented on #200
@JosephHobbs

I think they should be in sync. Are you seeing a mismatch? I am sure I understood this correctly.

[2021-03-15 05:04] anusha94 commented on #203
Closing this issue due to inactivity. Feel free to reopen.

[2021-03-15 05:04] #203 closed

[2021-03-15 05:15] anusha94 commented on #208
I believe this is the best way to install this SDK currently - https://github.com/vmware/vsphere-automation-sdk-python#installing-required-python-packages

Else, if you want to install locally, I'd suggest downloading the `.whl` files and install them in the right dependency order.

[2021-03-15 05:15] #208 closed

[2021-03-15 05:16] anusha94 commented on #215
Closing this issue due to inactivity. Feel free to reopen.

[2021-03-15 05:16] #215 closed

[2021-03-15 05:19] anusha94 commented on #222
@kapi33

Is the issue resolved?

[2021-03-15 05:19] anusha94 commented on #226
@rysevpd

Any update?

[2021-03-15 07:09] nbttmbrg commented on #247
No, we're doing things differently now. Thanks

[2021-03-15 07:09] #247 closed

[2021-03-15 14:24] segadson commented on #249
Hello,

Yea this worked thanks!

Sean Gadson
***@***.*** ***@***.***%0b>
Mobile: 614.301.0695

From: Anusha Hegde ***@***.***>
Sent: Monday, March 15, 2021 12:46 AM
To: vmware/vsphere-automation-sdk-python ***@***.***>
Cc: segadson ***@***.***>; Mention ***@***.***>
Subject: Re: [vmware/vsphere-automation-sdk-python] import com.vmware.content.library_client failing (#249)

@segadson <https://githu

[2021-03-15 14:26] #249 closed

[2021-03-16 05:23] strefethen commented on #252
@brakthehack an alternative would be to use separate Python environments, one for each SDK and dcli.

[2021-03-16 06:19] anusha94 commented on #89
@sanjay1839 Were you able to write a sample?

[2021-03-16 06:36] anusha94 commented on #92
With the latest v7.0.1.0 SDK, the following are the list of packages installed -
`certifi, cffi, chardet, cryptography, idna, lxml, pyOpenSSL, pyVmomi, pycparser, requests, six, suds-jurko, urllib3`

I am using `Python 3.8.4`. I am not aware of any ongoing effort to reduce the dependency list further. As there is quite a decrease in number of deps as compared to when the issue was first reported,

[2021-03-16 06:36] #92 closed

[2021-03-16 06:41] anusha94 commented on #119
@tianhao64
Was there any progress from the feature team?

@14kosta
Do you know if this issue still exists with the latest SDK?

[2021-03-16 06:44] anusha94 commented on #122
I believe this was ruled as _not a bug_ by the feature team as the API is already released. I am closing this issue. Feel free to reopen.

[2021-03-16 06:44] #122 closed

[2021-03-16 06:45] anusha94 commented on #143
@Sad-polar-bear
Were you able to achieve this task?

[2021-03-16 06:46] anusha94 commented on #144
Can anybody confirm if this feature is still not available with the latest SDK? I can forward the request in that case.

[2021-03-16 06:48] anusha94 commented on #176
@jake2184
Can you please confirm if the latest SDK supports this feature or not?

[2021-03-16 06:52] #241 closed

[2021-03-16 06:56] anusha94 commented on #259
@timblaktu So you **are** able to install, right?

@oniGino please open a new issue and we can look into it

[2021-03-16 07:35] 14kosta commented on #119
Hi.

We don't get any reply from the feature team. Were very disappointed how
Vmware helps their users to resolve the problems concerned with usage of
Vmware sdk. Switched to PowerCli, ported to Linux, which worked fine.

On Tue, Mar 16, 2021 at 8:41 AM Anusha Hegde ***@***.***>
wrote:

[2021-03-16 09:28] anusha94 commented on #119
@14kosta
I am very sorry to hear that. The teams are distributed and features sometimes don't make it to the priority list and are kept hanging. We will try to fix this gap in the future.
Glad you were able to resolve with powercli.

[2021-03-16 09:28] #119 closed

[2021-03-17 03:35] prm-svm-17 commented on #243
@anusha94 - yes, the issue is resolved.
Closing this ticket

[2021-03-17 03:35] #243 closed

[2021-03-17 03:35] prm-svm-17 commented on #243
Thanks for your help

[2021-03-18 06:34] anusha94 commented on #230
@suhasdombale123

I don't think that is possible. The REST API requires the template to be present in the content library. If you can move your templates to the content library, then you can use the SDK to deploy from there.
Here are few samples related to content library - https://github.com/vmware/vsphere-automation-sdk-python/tree/master/samples/vsphere/contentlibrary

Feel free to open this is

[2021-03-18 06:34] #230 closed

[2021-03-18 22:56] timblaktu commented on #259
@anusha94 yes, it is now installing using pip or pipenv, but I have to use the release tar file syntax in my Pipfile:

[code]

Why such a discrepancy between actual "SDK version" (e.g. 1.39.0) and the versioning of the git repo that contains it (this one, e.g. v7.0.1.0)??

[2021-03-22 09:52] anusha94 commented on #259
@timblaktu
Whenever we create a new release, that particular snapshot of master is archived and you will see only that version when you install from tar file.
With every vSphere release, we manually bump the SDK version and move all related .whl files (vsphere bindings)
Periodically, the vmc bindings are also updated - and the SDK is also bumped along with these updates. We don't always create/tag

[2021-03-22 09:53] anusha94 commented on #255
Closing this PR due to inactivity, feel free to reopen.

[2021-03-22 09:53] #255 closed

[2021-03-22 09:54] anusha94 commented on #251
Closing this issue due to inactivity. Feel free to reopen.

[2021-03-22 09:54] #251 closed

[2021-03-22 09:55] anusha94 commented on #250
@snsiregar
Any update?

[2021-03-22 09:57] anusha94 commented on #226
Closing this PR due to inactivity. Feel free to reopen.

[2021-03-22 09:57] #226 closed

[2021-03-22 09:59] anusha94 commented on #222
Closing this issue due to inactivity. Feel free to reopen.

[2021-03-22 09:59] #222 closed

[2021-03-23 07:51] snsiregar commented on #250
hello @anusha94
vmware modules using pyvmomi and for right now I did not use tag_names
and using annotation instead.

[2021-03-29 12:46] Elinoy-1 opened #264 "Retrive VM information"
- I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
-  I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://github.com/vmware/vsphere-automation-sdk-python/wiki/Troubleshooting)

## Environment
- sdk package version:

- python version: 3.8

[2021-03-30 08:14] #250 closed

[2021-03-30 17:47] dsroark-dt commented on #259
I'm having this exact same problem.  I don't even want to use the sdk since we don't do tagging, but the dynamic inventory is now requiring it be installed.

[2021-04-01 08:13] Elinoy-1 commented on #264
Solved it by iterating over the clusters using the "vsphere_client.vcenter.Cluster.list()" to retrieve the cluster id and add it as a filter to the VM.FilterSpec().

[2021-04-01 08:13] #264 closed

[2021-04-06 11:23] optiz0r opened #267 "InternalServerError from vcenter.VM.get: invalid UnionCase state"
- [/] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [/] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [/] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://github.

[2021-04-13 01:58] yanglijian201 commented on #209
Almost a year, issue still there....Quite easy to reproduce, what are you doing VMware, my lover?

[2021-04-13 02:00] yanglijian201 commented on #267
It also happens in my local setup when there is a vm which is not accessible.

[2021-04-13 13:37] SpeedBlack opened #268 "vsphere-automation-sdk-python install offline"
Hello all,

I have a server with no internet connection.
I need to install vsphere-automation-sdk-python without Internet but I can't :(.

I have updated PIP and setuptools with ```pip install package.whl -f ./ --no-index```

PIP version (with version 21 I have problems on centos 7):
[code]
SETUPTOOLS version :
[code]

With the version of PIP I have, I try to install version 6.9.1 but with no resu

[2021-04-14 13:36] timblaktu commented on #259
Assuming it's tracked elsewhere that this project should create an installable package on a public pypi, this issue can be resolved, since as I mentioned [here](https://github.com/vmware/vsphere-automation-sdk-python/issues/259#issuecomment-795746200) I'm able to at least install it, but the possible approaches I can use to do so are _very limited_: It appears to only work via Direct installation

[2021-04-14 13:36] #259 closed

[2021-04-15 02:52] Zac-L commented on #250
@anusha94

Hi, I am running into this same issue & errors. I would like to add tags to vms, annotation just creates a not on the vm so @snsiregar workout does not apply.

[2021-04-15 09:41] shwetapurohit commented on #268
Hi SpeedBlack
[README.md](https://github.com/vmware/vsphere-automation-sdk-python/files/6316855/README.md)

Here is one way to install in an air-gapped environment. I am assuming you can scp artifacts to this machine.
vSphere Automation SDK has a mix of internal and external dependencies. The first four packages in this requirements file are external dependencies (available on PyPI) and the remain

[2021-04-15 16:37] SpeedBlack commented on #268
Hello shwetapurohit,

Thanks à lot !

[2021-04-15 16:37] #268 closed

[2021-04-17 08:51] vnkazna commented on #89
I have the same problem. With vSS to vSS or from vDS to vDS works great. But how to do it with vSS on vDS or vDS on vSS? Not clear what structure can I use to load into ConfigSpec.device? The structure of the network in use at the moment is obviously not suitable.

[2021-04-22 10:23] KnutssonDevelopment commented on #144
I looks like it is a VM property, which makes sense. I am able to list them by the vm object anyway.

[2021-04-22 10:30] KnutssonDevelopment commented on #144
This is a cutout from my code. I have not tested it in this form, but it works in my code.

def get_all_hosts(si: 'pyVmomi.VmomiSupport.vim.ServiceInstance') -> list:
    hosts = []

    content = si.RetrieveContent()
    subFolders = content.rootFolder.childEntity
    for sf in subFolders:
        children = sf.hostFolder.childEntity
        for computeresource in children:
            if compute

[2021-04-22 10:41] KnutssonDevelopment commented on #144
I have posted some example code here: https://vm.knutsson.it/2021/04/get-snapshot-informatin-using-python/

[2021-04-28 18:45] dsroark-dt commented on #259
For those with the same problem as me and want to not use this blasted library, set `with_tags` to false in the dynamic inventory plugin.

[2021-04-29 14:31] Karthik16m commented on #222
@anusha94  what should be value for the pythonpath variable here ?

[2021-04-29 15:18] shwetapurohit commented on #222
Hi Karthik,

Please try this:
* Linux/Mac:
  export PYTHONPATH=${PWD}:$PYTHONPATH
* Windows:
  set PYTHONPATH=%cd%;%PYTHONPATH%

Thanks,
Shweta

[2021-04-29 15:22] Karthik16m commented on #222
@shwetapurohit I tried this I am still getting the same error.

[2021-04-30 08:08] anusha94 commented on #222
@Karthik16m

Are you using a virtual environment? If not, I highly recommend using one.
Also, please share the o/p of `echo $PYTHONPATH` and `pip list`

[2021-04-30 08:26] matthewit2 opened #271 "[Errno 2] No such file or directory: '//tmp/pip-req-build-ixsiy671/lib/vapi-runtime/vapi_runtime-2.19.0-py2.py3-none-any.whl'"
I am using the latest SDK version and I'm unable to get it to install using the documented method on this page. I have tried creating a new venv for python 3 and still get the error listed below

## Environment
- sdk package version:
Does not install

- python version:
Python 3.6.8

- vSphere version:
7.0 U2

- Operating System/Shell (used to run SDK-based apps):
RHEL 8

## Steps or code snippet t

[2021-04-30 08:39] matthewit2 commented on #271
Digging into the folder structure shows that there is a new vapi runtime file /tmp/vsphere-automation-sdk-python/lib/vapi-runtime/vapi_runtime-2.25.0-py2.py3-none-any.whl

[2021-04-30 08:49] sumitAgrawal007 commented on #271
Thanks for reporting, fixed the version.

[2021-04-30 08:49] #271 closed

[2021-05-04 22:55] luponata commented on #144
Good to know!, unfortunately this is working only on a separate API implementation: "Pyvmomi"

I keep wondering why they haven't implemented the same snapshot concept with the newer REST API

[2021-05-05 23:04] yildirima commented on #36
Thanks. Fixed my problem.

[2021-05-13 20:48] malodie commented on #254
I am also having this issue, but directly, not using Ansible.  I'm just starting to dig deeper into this SDK.

Using the base code in the SDK repo gives me a ssl.SSLCertVerificationError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1091), but I have session.verify = False and urllib3.disable_warnings() set manually.  I get this no matt

[2021-05-14 05:44] Akasurde commented on #254
@malodie Have you tried this - https://github.com/psf/requests/issues/3829#issuecomment-275603654

[2021-05-14 07:35] Akasurde commented on #254
@malodie I found that if you set `session.trust_env = False` then you can circumvent this odd behavior per session. Like -

[code]

[2021-05-14 17:11] malodie commented on #254
This worked.  Thanks for the help!

[2021-05-17 06:25] shwetapurohit commented on #254
Thanks @malodie
 closing this issue

[2021-05-17 06:25] #254 closed

[2021-05-19 20:04] mariolenz commented on #38
Any news?

Not to put too fine a point on it, but not talking to us shows a lot of **disrespect** to your users and customers.

[2021-05-19 23:39] evilensky opened #274 "Source repository?"
The [VMware site](https://code.vmware.com/web/sdk/7.0/vsphere-automation-python) says:

With a link to this repository.

I have not checked every folder, but this repository appears to wheels and documentation.

Is there a source repository that can be contributed to or code explored?

[2021-05-20 12:44] shwetapurohit commented on #274
@evilensky
You can contribute samples not the wheels.
Install SDK in a Python virtual environment is highly recommended.

[2021-05-24 18:46] timblaktu commented on #38
Following up on my own comment. My journey with ansible for IaC using vmware collections (community.vmware and vmware_rest) has come to an end. I have moved all IaC to Packer on Jenkins to build static infrastructure and templates, and Pulumi for deploying templates into more complex infra. I like what Goneri is doing with vmware_rest, but using Ansible for IaC in my experience has proven to be an

[2021-05-27 09:46] udautkarsh commented on #53
I had the same confusion after I implemented those functions until I came here.  I can still see method UpdateAssignedLicense() and QueryAssignedLicenses() etc in pyvmomi 7.0.1

[2021-05-28 15:44] Halkcyon commented on #271
@sumitAgrawal007 attempting to install from a git link or tarball at the latest tag/release still results in the same error.

[code]

I tried both:

* `https://github.com/vmware/vsphere-automation-sdk-python/archive/refs/tags/v7.0.2.00100.tar.gz`
* `git+https://github.com/vmware/vsphere-automation-sdk-python.git@v7.0.2.00100`

For now, I'm leaving my requirements file `@master`, but I'd appreciate

[2021-06-02 08:10] shwetapurohit commented on #271
@Halkcyon : Fixed the issue.

[2021-06-04 07:40] #274 closed

[2021-06-04 07:41] #267 closed

[2021-06-04 07:52] optiz0r commented on #267
Just to add some feedback on this (not intending to reopen the issue here), vmware support have confirmed there is an open problem in vcenter where it returns back errors instead of vm metadata for some VMs. Temporary workaround is to live migrate, or rename the VM. Support haven't given me the PR number to leave here for reference.

[2021-06-04 08:02] yanglijian201 commented on #267
This issue has been there for a long time, really have no idea what vmware teams are doing. Just tell us fix or not. If fix, what's the PR...

[2021-06-24 21:46] lvalerio opened #280 "Exceptions do not have error messages or error type when converting to string"
- [ ] I am using the v7.0.2.00100
- [ ] This API is compatible with my VMC
- [ ] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://github.com/vmware/vsphere-automation-sdk-python/wiki/Troubleshooting)

## Environment
- sdk package version:
idem-vmc                           1

[2021-06-28 04:02] Nick-Cool commented on #132
I ran into the exact same issue...My content library is backed by vSAN datastore. Is there a solution to this problem

[2021-06-28 10:17] shwetapurohit commented on #280
@lvalerio : I could reproduce the issue, It’s  an issue in Python Runtime. I've filed a bug

[2021-07-09 14:00] optiz0r commented on #267
https://kb.vmware.com/s/article/85053

[2021-07-16 04:26] zhonghankong opened #281 "Unable to get cluster in namespace_management"
- [x] I am using the [latest SDK version](https://github.com/vmware/vsphere-automation-sdk-python/releases)
- [x] This API is compatible with my vCenter version (You can get the info from '__vcenter_version__' in each sample)
- [x] I have searched [existing issues](https://github.com/vmware/vsphere-automation-sdk-python/issues?utf8=%E2%9C%93&q=is%3Aissue) and [Troubleshooting wiki](https://github.

[2021-07-19 09:39] SergeBakharev commented on #38
This doesn't work for me erroring out with `WARNING: Parse error at "'automati'": Expected stringEnd`.

However adding to a pipfile `vsphere-automation-sdk = {file = "https://github.com/vmware/vsphere-automation-sdk-python/archive/v7.0.1.0.tar.gz"}` installs fine.

[2021-08-12 08:12] shwetapurohit commented on #281
@zhonghankong
Please take look at the sample below:
https://github.com/vmware/vsphere-automation-sdk-python/blob/master/samples/vsphere/vcenter/namespace_management/list_clusters.py

 This works and the o/p of the sample is
`(venv) spurohit@spurohit-a01 vsphere-automation-sdk-python % python samples/vsphere/vcenter/vm/test.py  -s 10.x.x.x -u un -p pwd  -v
vcenter server = 10.x.x.x
vc username = Ad